<?php

/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_ListVatType $selectedVatType
 * @var BAS_Shared_Model_ListVatType $suggestedVatType
 * @var string $defaultLanguage
 */
$workorderId = $this->workorderId;
$workorder = $this->workorder;
$reportData = $this->reportData;
$languageOptions = $this->languageOptions;
$defaultLanguage = $this->defaultLanguage;
$isInternalWorkorder = $this->isInternalWorkorder;
$defaultDebtorId = $this->defaultDebtorId;
$isCustomerApplicable = $this->isCustomerApplicable;
$canBeInvoiced = $this->canBeInvoiced;
$canBeInvoicedError = $this->canBeInvoicedError;

$customerNumber = $reportData['customerNumber'];
$salesPersonName = $reportData['salesPersonName'];
$vatCode = $reportData['vatCode'];
$orderNumber = $reportData['orderNumber'];
$depotName = $reportData['depotName'];
$countryCode = $reportData['countryCode'];
$languageCode = $reportData['languageCode'];
$offerExtraInformation = $reportData['offerExtraInformation'];
$invoiceContactId = $reportData['invoiceContactId'];
$invoiceContactName = $reportData['invoiceContactName'];
$selectedVatType = $reportData['selectedVatType'];
$suggestedVatType = $reportData['suggestedVatType'];
?>

<form method="post" target="_blank" class="form-sales-offer-report">
    <div class="flash-messages js-error-messages">
        <?php if ($canBeInvoiced === false): ?>
            <div class="error"><?php echo $this->translate($canBeInvoicedError); ?></div>
        <?php endif; ?>
    </div>

    <?php echo $this->formHidden('workorderId', $workorderId); ?>

    <div class="flex-box flex-box_row flex-justify_space-between">
        <div>
            <table>
                <tr>
                    <td><?php echo $this->translate('depot'); ?>: </td>
                    <td><?php echo $depotName; ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('vat_number'); ?>: </td>
                    <td><?php echo $vatCode; ?></td>
                </tr>

                <tr>
                    <td><?php echo $this->translate('selected_vat'); ?>: </td>
                    <td>
                        <span class="js-selected_vat_type">
                            <?php if ($selectedVatType !== null) echo  $selectedVatType->getName(); ?>
                        </span>
                        <img class="js-show-vt_dialog dialog-vat_type" src="/vbd/public/images/edit.gif">
                    </td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('language'); ?>: </td>
                    <td><?php echo $this->formSelect('language', $defaultLanguage, null, $languageOptions); ?></td>
                </tr>
            </table>
        </div>

        <div>
            <table>
                <?php if (!empty($countryCode)): ?>
                    <tr>
                        <td><?php echo $this->translate('country'); ?>: </td>
                        <td><?php echo $this->country($countryCode); ?></td>
                    </tr>
                <?php endif; ?>

                <?php echo $this->partial('partial/report-popup-customer-info.phtml', [
                    'workorder' => $workorder,
                    'defaultDebtorId' => $defaultDebtorId,
                    'isCustomerApplicable' => $isCustomerApplicable,
                    'isInternalWorkorder' => $isInternalWorkorder,
                    'invoiceContactId' => $invoiceContactId,
                    'invoiceContactName' => $invoiceContactName,
                    'customerNumber' => $customerNumber,
                ]); ?>

                <tr>
                    <td><?php echo $this->translate('suggested_vat'); ?>: </td>
                    <td><?php if ($suggestedVatType !== null) echo $suggestedVatType->getName(); ?></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="printHeaderFooter"><?php echo $this->translate('print_logo_and_footer'); ?></label>
                        <?php echo $this->formRadio('printHeaderFooter', 1, null, [1 => 'yes', 0 => 'no'], ''); ?>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div>
        <div class="extra-info-label"><?php echo $this->translate('extra_info'); ?></div>
        <textarea name="extraInformation" id="taExtraInfo" cols="30" rows="10"><?php echo $offerExtraInformation; ?></textarea>
    </div>

    <div class="js-control-buttons">

        <?php if ($canBeInvoiced === true): ?>
            <button class="js-generate-offer" type="button" data-loading-msg="<?php echo $this->translate('generating...');?>">
                <?php echo $this->translate('generate_invoice'); ?>
            </button>
        <?php endif; ?>

        <button class="js-cancel" type="button">
            <?php echo $this->translate('cancel');?>
        </button>
    </div>

</form>