{% if extraInformationText is not empty %}
    <style>
        .extra-info {
            font-size: 27px;
            border: 1px solid #000;
        }
        .extra-info-title {
            font-size: 30px;
            font-weight: bold;
        }
    </style>

    <h3 class="extra-info-title">{{ 'extra_information'|translate|capitalize }}</h3>

    <div class="extra-info">
        {{ extraInformationText|nl2br|raw }}
    </div>
{% endif %}