{% set subtotalAmount = 0 %}
{% set rowCounter = 0 %}
{% set itemRowsLimit = 27 %}
{% set rowTotalCount = items|length %}

{% for orderItem in items %}
    {% set itemPriceTotal = orderItem.priceTotal|round(2) %}
    {% set subtotalAmount = Math.add(subtotalAmount, itemPriceTotal, 4) %}
    {% set rowCounter = loop.index %}
    {% set desc = orderItem.invoiceDescription %}

    <tr class="record-row item-row">
        <td>{% if (orderItem.isGuaranteeDetail()) %}G{% endif %}</td>
        <td>{{ orderItem.referenceId }}</td>
        <td></td>
        <td>{{ desc }}</td>
        <td></td>
        
        {% if (orderItem.unit == constant('BAS_Shared_Model_Item::UNIT_PRODUCT')) %}
            <td class="record-qty">{{ orderItem.quantity|number_format(0) }}</td>
        {% else %}
            <td class="record-qty">{{ orderItem.quantity|number_format(2, ',', '.') }}</td>
        {% endif %}

        <td class="record-price">{{ orderItem.priceOrder|number_format(2, ',', '.') }}</td>
        <td></td>
        <td class="text-right row-value">{{ orderItem.priceTotal|number_format(2, ',', '.') }}</td>
    </tr>

    {% if (rowCounter > itemRowsLimit or rowCounter == rowTotalCount) %}
        <tr class="subtotal-break">
            <td colspan="8"></td>
            <td><table cellpadding="0" cellspacing="0" class="subtotal-break-tbl"><tr><td></td></tr><tr><td class="top-line"></td></tr></table></td>
        </tr>
        <tr class="text-right subtotal item-subtotal">
            <td colspan="7" class="text-right">{{ 'subtotal_items'|translate }}</td>
            <td></td>
            <td class="amount">{{ subtotalAmount|number_format(2, ',', '.') }}</td>
        </tr>

        {% set rowCounter = 0 %}
    {% endif %}
{% endfor %}



