<table class="no-padding customer-details-tbl" align="left" cellpadding="0" cellspacing="0">
    {% if (isInternalWorkorder and customerNumber == null) %}
        <tr>
            <td>{{ 'debtor_number'|translate }}</td>
            <td width="5%"></td>
            <td>{{ defaultDebtorId }}</td>
        </tr>
    {% elseif customerNumber %}
    <tr>
        <td>{{ 'customer_number'|translate }}</td>
        <td width="5%"></td>
        <td>{{ customerNumber }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>{{ 'salesperson'|translate }}</td>
        <td width="5%"></td>
        <td>{{ salesPersonName }}</td>
    </tr>
    <tr>
        <td>{{ 'COC no.'|translate }}</td>
        <td width="5%"></td>
        <td>{{ customerVatNumber }}</td>
    </tr>
    <tr>
        <td>{{ 'order_number'|translate }}</td>
        <td width="5%"></td>
        <td>{{ orderNumber }}</td>
    </tr>
    <tr>
        <td>{{ 'customer_ref_number'|translate }}</td>
        <td width="5%"></td>
        <td>{{ customerReferenceNo|truncate(25) }}</td>
    </tr>
    <tr>
        <td>{{ 'date'|translate }}</td>
        <td width="5%"></td>
        <td>{{ invoiceDate }}</td>
    </tr>
</table>