{% if tradeCompanyId > 0 %}
<table class="no-padding" cellpadding="0" cellspacing="0" >
    <tr>
        <td>{{ tradeCompanyName }}</td>
    </tr>
    <tr>
        <td>{{ tradeCompanyAddress }}</td>
    </tr>
    <tr>
        <td>{{ tradeCompanyZipcode }} {{ tradeCompanyCityName }}</td>
    </tr>
    <tr>
        <td>{{ tradeCompanyCountryName }}</td>
    </tr>
</table>
{% elseif isStockVehicle %}
<br><br>
<span>{{ 'stock_vehicle'|translate|capitalize }}</span>
{% endif %}