{% extends '_payment-details.twig' %}
{% block payment_details_vat_block %}<table class="no-padding details-vat" align="right" width="100%" cellspacing="0" cellpadding="0">
        <tr class="final-subtotal">
            <td class="bold text-right" style="width: 86.3%">{{ 'subtotal'|translate }} {{ invoiceCurrencyCode }}</td>
            <td class="width-20px"></td>
            <td align="right" class="text-right width-70px amount" >{{ netAmount|number_format(2, ',', '.') }}</td>
        </tr>
        <tr class="final-consumables">
            <td class="text-right" style="width: 86.3%">{{ 'consumables'|translate }} {{ invoiceCurrencyCode }}</td>
            <td class="width-20px"></td>
            <td align="right" class="text-right width-70px amount" >{{ consumablesAmount|number_format(2, ',', '.') }}</td>
        </tr>
        <tr class="final-environment">
            <td class="text-right" style="width: 86.3%">{{ 'environment'|translate }} {{ invoiceCurrencyCode }}</td>
            <td class="width-20px"></td>
            <td align="right" class="text-right width-70px amount" >{{ environmentAmount|number_format(2, ',', '.') }}</td>
        </tr>
        <tr class="final-total">
            <td class="bold text-right" style="width: 86.3%">{{ 'total'|translate }} {{ invoiceCurrencyCode }} {{ 'excl_vat'|translate }}</td>
            <td class="width-20px"></td>
            <td align="right" class="text-right width-70px amount" >{{ totalAmountWithoutVat|number_format(2, ',', '.') }}</td>
        </tr>

        {% for vat in vats %}
            <tr class="final-vat">
                <td class="text-right" style="width: 86.3%"><span class="vat-percent">{{ vat.percent }}</span> % {{ vat.getLabel|translate }}</td>
                <td class="width-20px"></td>
                <td align="right" class="text-right width-70px amount">{{ vat.amount|number_format(2, ',', '.') }}</td>
            </tr>
        {% endfor %}

        <tr class="final-total-w-vat">
            <td class="bold text-right" style="width: 86.3%">{{ 'total'|translate }} {{ invoiceCurrencyCode }} {{ 'label_include_vat'|translate }}</td>
            <td class="width-20px"></td>
            <td align="right" class="text-right width-70px amount">{{ totalAmountWithVat|number_format(2, ',', '.') }}</td>
        </tr>
    </table>
{% endblock %}