{% set subtotalAmount = 0 %}
{% set rowCounter = 0 %}
{% set itemRowsLimit = 27 %}
{% set rowTotalCount = tasks|length %}

{% if taskType == 'external' %}
    {% set subtotalTitle = 'subtotal_external_tasks'|translate %}
{% else %}
    {% set subtotalTitle = 'subtotal_tasks'|translate %}
{% endif %}

{% for workorderTask in tasks %}
    {% set taskPriceTotal = workorderTask.priceTotal|round(2) %}
    {% set subtotalAmount = Math.add(subtotalAmount, taskPriceTotal, 4) %}
    {% set rowCounter = loop.index %}
    {% set isFixedComposedTask = workorderTask.compositionPriceType == 1 %}
    {% set isActualComposedTask = workorderTask.compositionPriceType == 2 %}

    <tr class="record-row {{ taskType }}-task-row">
        <td>{% if (workorderTask.isGuaranteeDetail()) %}G{% endif %}</td>
        <td>{{ workorderTask.referenceId }}</td>
        <td></td>
        <td>{{ workorderTask.invoiceDescription }}</td>
        <td></td>
        <td>{# {{ workorderTask.quantity|number_format(2, ',', '.') }} #}</td>
        <td>{# {{ workorderTask.priceOrder|number_format(2, ',', '.') }} #}</td>
        <td></td>
        <td class="text-right row-value">{% if not isActualComposedTask %}{{ workorderTask.priceTotal|number_format(2, ',', '.') }}{% endif %}</td>
    </tr>

    {% if isFixedComposedTask or isActualComposedTask %}
        {% for subDetail in workorderTask.subDetailsInfo %}

            <tr class="record-row {{ taskType }}-task-row">
                <td>{% if (subDetail.isGuaranteeDetail()) %}G{% endif %}</td>
                <td></td>
                <td></td>
                <td>{{ subDetail.invoiceDescription }}</td>
                <td></td>
                <td class="record-qty">{% if isActualComposedTask %}{{ subDetail.quantity|number_format(2, ',', '.') }}{% endif %}</td>
                <td class="record-price">{% if isActualComposedTask %}{{ subDetail.priceOrder|number_format(2, ',', '.') }}{% endif %}</td>
                <td></td>
                <td class="text-right row-value">{% if isActualComposedTask %}{{ subDetail.priceTotal|number_format(2, ',', '.') }}{% endif %}</td>
            </tr>

        {% endfor %}
    {% endif %}

    {% if (rowCounter > itemRowsLimit or rowCounter == rowTotalCount) %}
        <tr class="subtotal-break">
            <td colspan="8"></td>
            <td><table cellpadding="0" cellspacing="0" class="subtotal-break-tbl"><tr><td></td></tr><tr><td class="top-line"></td></tr></table></td>
        </tr>
        <tr class="text-right subtotal {{ taskType }}-task-subtotal">
            <td colspan="7" class="text-right">{{ subtotalTitle }}</td>
            <td></td>
            <td class="amount">{{ subtotalAmount|number_format(2, ',', '.') }}</td>
        </tr>
        <tr class="empty-row">
            <td colspan="9"></td>
        </tr>
        {% set rowCounter = 0 %}
    {% endif %}
{% endfor %}