<?php
/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_ListVatType[] $vatTypeList
 * @var int $workorderId
 */

$vatTypeList = $this->vatTypeList;
$workorderId = $this->workorderId;
$selectedVatType = $this->selectedVatType;

?>

<form class="change-vat-type-widget" action="">

    <?php echo $this->formHidden('workorderId', $workorderId); ?>

    <fieldset>
        <legend><?php echo $this->translate('change_vat'); ?></legend>

        <ul class="js-vat_type_list">
            <?php foreach ($vatTypeList as $vatType): ?>

                <li data-description="<?php echo $this->translate($vatType->getDescription()); ?>">
                    <img src="/vbd/public/images/help.png" class="icon-tooltip">

                    <?php echo $this->formRadio('vatType', $selectedVatType,
                        ['data-name' => $vatType->getName()],
                        [$vatType->getId() => $vatType->getName()]
                    ); ?>
                </li>
            <?php endforeach; ?>
        </ul>

        <?php echo $this->formText('reason', $this->changeVatReasonText, [
            'placeholder' => $this->translate('help_msg_reason_change_vat_type'),
            'class' => 'reason js-reason',
        ]); ?>

        <div class="control-buttons">
            <?php echo $this->formButton('process', $this->translate('btn_label_process'), [
                'class' => 'js-btn_process',
            ]); ?>
            <?php echo $this->formButton('cancel', $this->translate('btn_label_cancel'), [
                'class' => 'js-btn_cancel',
            ]); ?>
        </div>

    </fieldset>

</form>
