<style>
    .bold { font-weight: bold; }
    .default-font { font-size: 9pt; }
    .page-padding { padding: 0 60px; }
    .no-break { page-break-inside: avoid; }
    .vehicle-table {
        border-spacing: 0px;
        border-collapse: collapse;
        margin-bottom:15px;
    }
    .vehicle-table td{
        border: 1px solid #000000;
    }

    .width-10per { width: 10%; }
    .width-1per { width: 1%; }
    .width-29per { width: 29%; }
    .width-20per { width: 20%; }
    .width-70px { width: 45px; }
    .width-20px { width: 20px; }
    .width-600px { width:600px; }

    .no-padding { padding: 0; }
    .text-right { text-align: right; }

    .items-table th {
        text-align: left;
    }
    .subtotal-break-tbl tr td{
        font-size:4pt;
    }
    .top-line{
        border-top:1px dashed #000000;
    }
</style><table class="page-padding default-font">
    <tr>
        <td><table class="vehicle-table" cellpadding="3" cellspacing="0">
                <tbody>
                <tr>
                    <td width="143px"> {{ 'licence_plate'|translate }}: {{ vehicleData.licencePlate }}</td>
                    <td width="188px"> {{ 'chassis_number'|translate }}: {{ vehicleData.frameNumber }}</td>
                    <td width="144px"> {{ 'registration'|translate }}: {{ vehicleData.registrationDate }}</td>
                </tr>
                <tr>
                    {% set vehicleMakeAndType = vehicleData.make ~ ' ' ~ vehicleData.type %}
                    {% set vehicleMakeAndTypeMaxLength = 23 %}
                    {% if vehicleMakeAndType|length > vehicleMakeAndTypeMaxLength %}
                        {% set vehicleMakeAndType = vehicleMakeAndType|truncate(vehicleMakeAndTypeMaxLength - 3)~'...' %}
                    {% endif %}

                    <td width="143px"> {{ 'brand'|translate }}: {{ vehicleMakeAndType }}</td>
                    <td width="188px"> {{ 'mileage'|translate }}: {{ vehicleData.mileage }} </td>
                    <td width="144px"> {{ 'ref_no'|translate }}: {% if vehicleData.truckId > 0 %}{{ vehicleData.truckId }}{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td><table class="items-table no-padding">
                <tr class="bold">
                    <td width="3%"></td>
                    <td width="10%">{{ 'code'|translate }}</td>
                    <td width="1%"></td>
                    <td width="47%">{{ 'label_description'|translate }}</td>
                    <td width="1%"></td>
                    <td width="17%">{{ 'quantity'|translate }}</td>
                    <td width="10%">{{ 'price'|translate }}</td>
                    <td width="1%"></td>
                    <td width="10%" class="text-right">{{ 'amount'|translate }}</td>
                </tr>
                <tr>
                    <td colspan="8"></td>
                </tr>
                {% include '_task-list.twig' with {'taskType': 'internal', 'tasks': internalTasks} %}
                {% include '_task-list.twig' with {'taskType': 'external', 'tasks': externalTasks} %}
                {% include '_item-list.twig' %}
            </table></td>
    </tr>
    <tr>
        <td>{% include '_extra-information.twig' %}</td>
    </tr>
    <tr>
        <td>{% block payment_details_block %}{% include '_payment-details-vat.twig' %}{% endblock %}</td>
    </tr>
</table>