{% if printLogoAndFooter == true %}
    <table style="padding: 0 50px">
        <tr><td style="text-align: center"><table><tr><td><img src="{{ footerLogoUrl }}" style="height: 100px;"></td></tr></table></td></tr>
    </table>
{% endif %}