<style>
    h2 {
        font-weight: bold;
        font-size: 40px;
    }
    .default-font { font-size: 9pt; }
    .page-padding { padding: 0 60px; }
    .no-padding { padding: 0; }
    .width-600px { width:600px; }
    table td {
        padding:0;
        margin:0;
    }
</style>

<table class="width-600px header-image">
    <tr>
        <td style="text-align: center">{% if printLogoAndFooter == true %}<img src="{{ headerLogoUrl }}" style="height: 100px;">
            {% else %}<br><br><br><br>
            {% endif %}
        </td>
    </tr>
</table>

<table class="page-padding default-font width-600px header-block">
    <tr>
        <td><table class="no-padding" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="70%" class="left-side">
                        <h2 class="no-padding">{% block invoice_number_block %}{% if totalAmountWithoutVat >= 0 %}{{ 'workorder_invoice'|translate }}{% else %}{{ 'workorder_credit_invoice'|translate }}{% endif %} nr. {{ invoiceNumber }}{% endblock %}</h2>
                    </td>
                    <td width="50%" class="right-side">
                        <h2 class="no-padding">{{ depotCompanyName }}</h2>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">{{ 'label_page'|translate }} {$:pnp:$}/{$:ptp:$}</td>
                </tr>
                <tr>
                    <td width="70%" class="left-side">{% include '_order-seller-details.twig' %}</td>
                    <td width="50%" class="right-side">{% block customer_details_block %}{% include '_order-customer-details.twig' %}{% endblock %}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>