<?php
/**
 * @var BAS_Shared_View_View $this
 */

$isWorkorderLocked = $this->isWorkorderLocked;
$containsOnlyInternalDetails = $this->containsOnlyInternalDetails;
?>

<button type="button"
        class="js-invoice-workorder"
        <?php if ($isWorkorderLocked) echo 'disabled'; ?>
        data-validation_url="<?php echo $this->url([
            'module' => 'workshop',
            'controller' => 'workorder-details-tab',
            'action' => 'can-be-invoiced',
        ], null, true); ?>"
>
    <?php echo $this->translate('invoice_workorder'); ?>
</button>

<?php if ($containsOnlyInternalDetails): ?>
    <button type="button"
            class="js-invoice-fast-workorder"
            <?php if ($isWorkorderLocked) echo 'disabled'; ?>
            data-validation_url="<?php echo $this->url([
                'module' => 'workshop',
                'controller' => 'workorder-details-tab',
                'action' => 'can-be-fast-invoiced',
            ], null, true); ?>"
    >
        <?php echo $this->translate('invoice_workorder_fast'); ?>
    </button>
<?php endif; ?>