<?php
/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_Workshop_OrderWorkshopDetailInfo $detailInfo
 * @var Zend_Form $detailForm
 */
$detailForm = $this->detailForm;
$detailInfo = $this->detailInfo;
$isWorkorderReadonly = $this->isWorkorderReadonly;

switch ($detailInfo->getType()) {
    case BAS_Shared_Model_Workshop_OrderWorkshopDetail::TYPE_ITEM:
        $workType = $detailInfo->getTradeIn() === BAS_Shared_Model_Workshop_OrderWorkshopDetail::TRADE_IN_NO ? 'Item' : 'Item Trade In'; break;
    case BAS_Shared_Model_Workshop_OrderWorkshopDetail::TYPE_TASK:
        $workType = $detailInfo->getWorkshopTaskType() === BAS_Shared_Model_Product::WORKSHOP_TASK_TYPE_EXTERNAL ? 'WDD' : 'Task';
        break;
    default: $workType = ''; break;
}
?>

<?php echo $detailForm->id; ?>
<?php echo $detailForm->sequence; ?>
<?php echo $detailForm->referenceId; ?>

<td width="40" class="textAlignCenter verticalAlignTop">
    <div class="icon-camera-upload-picture detail-camera-icon js-detail-camera-icon"></div>
    <a class="detail-images-counter js-detail-images-counter" href=""><?php echo (int)$detailInfo->getImageCount(); ?></a>
</td>
<td width="50" class="verticalAlignTop"><?php echo $this->translate($workType); ?></td>
<td width="120" class="verticalAlignTop"><?php echo $detailInfo->getAs400Id(); ?></td>
<td width="210" class="verticalAlignTop"><?php echo $detailInfo->getDescription(); ?></td>
<td class="verticalAlignTop"><?php echo $detailForm->invoiceDescription; ?></td>
<td width="50" class="verticalAlignTop"><?php echo $detailInfo->getStockQuantity(); ?></td>
<td width="50" class="verticalAlignTop"><?php echo $detailForm->quantity; ?></td>
<td width="70" class="verticalAlignTop">
    <?php echo $detailForm->priceOriginal; ?>
    <?php echo $detailForm->priceOrder; ?>
</td>
<td width="60" class="verticalAlignTop"><?php echo $detailForm->discount; ?></td>
<td width="80" class="verticalAlignTop"><?php echo $detailForm->bookingCodeType; ?></td>
<td width="100" class="verticalAlignTop"><?php echo $detailForm->depotBookingCodeId; ?></td>
<td width="30" class="position-relative textAlignCenter verticalAlignTop js-account-group-id-cell">
    <span class="js-account-group-id-text">
        <?php if (empty($detailInfo->getDepotAccountGroupId())): ?>
            <img src="/vbd/public/images/icons/error.png"
                 alt="Empty depot account group id. Click to sync"
                 title="Empty depot account group id. Click to sync"
                 class="cursorPointer js-detail-account-group-id-error-icon"
                 data-detail_id="<?php echo $detailInfo->getId(); ?>"
            >
        <?php else: ?>
            <?php echo $detailInfo->getDepotAccountGroupId(); ?>
        <?php endif; ?>
    </span>
</td>
<td width="50" class="verticalAlignTop"><?php echo $detailForm->onInvoice; ?></td>
<td width="150" class="nowrap verticalAlignTop">
    <span class="displayInlineBlock width100"><?php echo $detailForm->labourRateId; ?></span>
    <span class="displayInlineBlock js-labour-rate-rate"><?php echo $detailForm->labourRateRate; ?></span>
</td>
<td width="100" class="nowrap verticalAlignTop">
    <span class="displayInlineBlock width100"><?php echo $detailForm->invoiceTime; ?></span>
</td>
<td width="50" class="nowrap verticalAlignTop">
    <span class="displayInlineBlock js-detail-spent-time width50">
        <span>
            <?php if (!($detailForm->spentTime instanceof Zend_Form_Element_Hidden)) {
                echo $detailForm->spentTime->getValue();
            } ?>
        </span>
        <?php echo $detailForm->spentTime; ?>
    </span>
</td>
<td width="70" class="verticalAlignTop"><?php echo $detailForm->getElement('costPrice'); ?></td>
<td width="200" class="verticalAlignTop">
    <?php
    $supplierId = $detailForm->getElement('supplierId')->getValue();
    if ($supplierId > 0) {
        $detailForm->getElement('supplierName')->setValue($this->contactName($supplierId));
    }

    echo $detailForm->getElement('supplierName');
    echo $detailForm->getElement('supplierId');
    ?>
</td>
<td width="20" class="verticalAlignTop">
    <?php if (!$isWorkorderReadonly && $detailInfo->isMainDetail() && !$detailInfo->isItemRequiredNotOptional()): ?>
        <img src="/vbd/public/images/delete.png"
             class="cursorPointer js-delete-detail"
             data-id="<?php echo $detailInfo->getId(); ?>">
    <?php endif; ?>
</td>