<?php
/**
 * @var BAS_Shared_View_View $this
 * @var array $rowData
 */
$rowData = $this->rowData;
?>
<span class="actions">
    <?php if ($this->isAllowed('workshop.workorder-details-tab.time-track-edit')): ?>
        <a class="noTextDecoration js-timetrack-edit"
           data-id="<?php echo $rowData['id']; ?>"
           href="<?php echo $this->url([
               'module'=>'workshop',
               'controller'=>'workorder-details-tab',
               'action'=>'edit-workorder-time',
               'id'=>$rowData['id'],
           ],null, true ); ?>"
           title="<?php echo ucfirst($this->translate('edit')); ?>"
           data-button-save="<?php echo ucfirst($this->translate('save')); ?>"
           data-button-cancel="<?php echo ucfirst($this->translate('cancel')); ?>">
            <img src="/vbd/public/images/edit.gif" />
        </a>
    <?php endif; ?>
</span>