<?php
$priceFilter = new Zend_Filter_NormalizedToLocalized([
    'locale' => 'nl_NL',
    'precision' => 2,
]);
?>
<div class="table-footer">
    <table align="right" cellspacing="0" cellpadding="0" style="">
        <tbody>
        <tr>
            <td class="col-spen-time total bold"><div><?php echo $priceFilter->filter($this->totalSpentTime) ?></div></td>
            <td class="col-activity"></td>
            <td class="col-actions"></td>
        </tr>
        </tbody>
    </table>
</div>