<?php

/**
 * @var BAS_Shared_View_View $this
 *
 * @var BAS_Shared_Model_OrderWorkshop $workorder
 * @var array $netAmount
 * @var int $totalExclVat
 */

$workorder = $this->workorder;
$netAmount = $this->netAmount;

$vatAmount = $this->vatAmount;
$totalExclVat = $this->totalExclVat;
$totalInclVat = $this->totalInclVat;

$priceFilter = new Zend_Filter_NormalizedToLocalized([
    'locale' => 'nl_NL',
    'precision' => 2,
]);
?>

<table class="full-info-right">

    <thead>
    <tr>
        <td class="col-header" colspan="2"><?php echo $this->translate('totals_external'); ?></td>
    </tr>
    </thead>

    <tr class="first-row">
        <td><?php echo $this->translate('invoice_total'); ?></td>
        <td><?php echo $priceFilter->filter($netAmount['external']); ?></td>
    </tr>

    <tr>
        <td><?php echo $this->translate('consumables'); ?></td>
        <td><?php echo $priceFilter->filter((float) $workorder->priceExternalConsumables); ?></td>
    </tr>

    <tr>
        <td><?php echo $this->translate('environment'); ?></td>
        <td><span><?php echo $priceFilter->filter((float) $workorder->priceExternalEnvironment); ?></span></td>
    </tr>

    <tr>
        <td><?php echo $this->translate('total_excl_vat'); ?></td>
        <td><span><?php echo $priceFilter->filter($totalExclVat); ?></span></td>
    </tr>
    <tr><td class="table-row-indent"></td></tr>

    <tr>
        <td><?php echo $this->translate('label_vat'); ?></td>
        <td><?php echo $priceFilter->filter($vatAmount); ?></td>
    </tr>
    <tr><td class="table-row-indent"></td></tr>

    <tr class="bold">
        <td><?php echo $this->translate('total_to_pay'); ?></td>
        <td><?php echo $priceFilter->filter($totalInclVat); ?></td>
    </tr>

</table>