<?php

/**
 * @var BAS_Shared_View_View $this
 *
 * @var BAS_Shared_Model_OrderWorkshop $workorder
 * @var array $grossAmount
 * @var array $netAmount
 * @var array $finalTotals
 *
 * @var int $totalExtVat
 * @var int $totalToPay
 */

$workorder = $this->workorder;

$grossAmount = $this->grossAmount;
$netAmount = $this->netAmount;
$finalTotals = $this->finalTotals;

$priceFilter = new Zend_Filter_NormalizedToLocalized([
    'locale' => 'nl_NL',
    'precision' => 2,
]);
?>

<table class="full-info-left">

    <thead>
    <tr>
        <td></td>
        <td class="col-header"><?php echo $this->translate('contra'); ?></td>
        <td></td>
        <td class="col-header"><?php echo $this->translate('internal'); ?></td>
        <td class="col-header"><?php echo $this->translate('guarantee'); ?></td>
        <td class="col-header"><?php echo $this->translate('external'); ?></td>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td class="caption bold"><?php echo $this->translate('task'); ?></td>
        <td><?php echo $priceFilter->filter((float) $workorder->getPriceContraTask()); ?></td>
        <td></td>
        <td><?php echo $priceFilter->filter((float) $workorder->getPriceInternalTask()); ?></td>
        <td><?php echo $priceFilter->filter((float) $workorder->getPriceGuaranteeTask()); ?></td>
        <td><?php echo $priceFilter->filter((float) $workorder->getPriceExternalTask()); ?></td>
    </tr>

    <tr>
        <td class="caption bold"><?php echo $this->translate('item'); ?></td>
        <td><?php echo $priceFilter->filter((float) $workorder->getPriceContraItem()); ?></td>
        <td></td>
        <td><?php echo $priceFilter->filter((float) $workorder->getPriceInternalItem()); ?></td>
        <td><?php echo $priceFilter->filter((float) $workorder->getPriceGuaranteeItem()); ?></td>
        <td><?php echo $priceFilter->filter((float) $workorder->getPriceExternalItem()); ?></td>
    </tr>

    <tr>
        <td class="caption bold"><?php echo $this->translate('external_work'); ?></td>
        <td><span><?php echo $priceFilter->filter((float) $workorder->getPriceContraWorkExternal()); ?></span></td>
        <td></td>
        <td><span><?php echo $priceFilter->filter((float) $workorder->getPriceInternalWorkExternal()); ?></span></td>
        <td><span><?php echo $priceFilter->filter((float) $workorder->getPriceGuaranteeWorkExternal()); ?></span></td>
        <td><span><?php echo $priceFilter->filter((float) $workorder->getPriceExternalWorkExternal()); ?></span></td>
    </tr>

    <tr>
        <td class="caption bold"><?php echo $this->translate('gross_amount'); ?></td>
        <td><?php echo $priceFilter->filter($grossAmount['contra']); ?></td>
        <td></td>
        <td><?php echo $priceFilter->filter($grossAmount['internal']); ?></td>
        <td><?php echo $priceFilter->filter($grossAmount['guarantee']); ?></td>
        <td><?php echo $priceFilter->filter($grossAmount['external']); ?></td>
    </tr>
    <tr><td class="table-row-indent"></td></tr>

    <tr>
        <td class="caption bold"><?php echo $this->translate('discount'); ?></td>
        <td><span><?php echo $priceFilter->filter((float) $workorder->getDiscountContra()); ?></span></td>
        <td></td>
        <td><span><?php echo $priceFilter->filter((float) $workorder->getDiscountInternal()); ?></span></td>
        <td><span><?php echo $priceFilter->filter((float) $workorder->getDiscountGuarantee()); ?></span></td>
        <td><span><?php echo $priceFilter->filter((float) $workorder->getDiscountExternal()); ?></span></td>
    </tr>

    <tr>
        <td class="caption bold"><?php echo $this->translate('net_amount'); ?></td>
        <td><?php echo $priceFilter->filter($netAmount['contra']); ?></td>
        <td></td>
        <td><?php echo $priceFilter->filter($netAmount['internal']); ?></td>
        <td><?php echo $priceFilter->filter($netAmount['guarantee']); ?></td>
        <td><?php echo $priceFilter->filter($netAmount['external']); ?></td>
    </tr>
    <tr><td class="table-row-indent"></td></tr>

    <tr>
        <td class="caption bold"><?php echo $this->translate('consumables'); ?></td>
        <td></td>
        <td></td>
        <td><?php echo $priceFilter->filter((float)$workorder->getPriceInternalConsumables()); ?></td>
        <td><?php echo $priceFilter->filter((float)$workorder->getPriceGuaranteeConsumables()); ?></td>
        <td><?php echo $priceFilter->filter((float)$workorder->getPriceExternalConsumables()); ?></td>
    </tr>

    <tr>
        <td class="caption bold"><?php echo $this->translate('environment'); ?></td>
        <td></td>
        <td></td>
        <td><span><?php echo $priceFilter->filter((float)$workorder->getPriceInternalEnvironment()); ?></span></td>
        <td><span><?php echo $priceFilter->filter((float)$workorder->getPriceGuaranteeEnvironment()); ?></span></td>
        <td><span><?php echo $priceFilter->filter((float)$workorder->getPriceExternalEnvironment()); ?></span></td>
    </tr>
    <tr><td class="table-row-indent"></td></tr>

    <tr>
        <td class="caption bold"><?php echo $this->translate('totals'); ?></td>
        <td></td>
        <td></td>
        <td><?php echo $priceFilter->filter((float) $finalTotals['internal']); ?></td>
        <td><?php echo $priceFilter->filter((float) $finalTotals['guarantee']); ?></td>
        <td><?php echo $priceFilter->filter((float) $finalTotals['external']); ?></td>
    </tr>
    <tr><td class="table-row-indent"></td></tr>

    </tbody>

</table>