<?php

/**
 * @var BAS_Shared_View_View $this
 * @var int workorderId
 * @var int $depotId
 * @var BAS_Shared_Model_OrderWorkshop $workorder
 * @var BAS_Shared_Model_LockTable|null $workorderLock
 */

const TAB_GENERAL = 0;
const TAB_DETAILS = 1;
const TAB_ADMINISTRATION = 2;

$depotId = $this->depotId;
$workorderId = $this->workorderId;
$workorder = $this->workorder;
$workorderLock = $this->workorderLock;
$isWorkorderLocked = $workorderLock !== null;

if ($workorder === null) {
    printf('Workorder %s not found in depot %s', $workorderId, $this->depotName($depotId));
    return;
}

$activeTab = (
    $workorder->getType() === null ||
    (int) $workorder->getVehicleId() === 0 ||
    $workorder->getDefaultDepotBookingCodeId() === null ||
    $workorder->getWorkshopId() === null ||
    $workorder->getWarehouseId() === null ||
    $workorder->getDefaultLabourActivityId() === null ||
    $workorder->getDefaultLabourRateId() === null
)
    ? TAB_GENERAL
    : TAB_DETAILS;

$this->headLink()
    ->appendStylesheet($this->baseUrl('css/warehouse/main.min.css?v=20170313'))
    ->appendStylesheet($this->baseUrl('css/workorder/main.css?v=20160317'))
    ->appendStylesheet($this->baseUrl('css/contact_fleet.css?v=20161014'))
    ->appendStylesheet($this->baseUrl('css/company_form.css?v=20151214'))
    ->appendStylesheet($this->baseUrl('css/grid.min.css'))
    ->appendStylesheet($this->baseUrl('css/jquery-ui.bas.min.css'))
    ->appendStylesheet($this->baseUrl('css/font-icons.css'));

$this->inlineScript()
    ->appendFile($this->baseUrl('/js/contact_fleet.min.js?v=2016093012211'))
    ->appendFile($this->baseUrl('/js/select2.min.js'))
    ->appendFile($this->baseUrl('/js/cms/ckeditor/ckeditor.js'))
    ->appendFile($this->baseUrl('/js/bvb_grid.js?v=20170818'));

$this->mapToScript(Default_View_Helper_MapToScript::MAP_TRANSLATE, [
    'search' => $this->translate('label_search'),
    'task_item_number' => $this->translate('task_item_number'),
    'As400Id' => $this->translate('As400Id'),
    'task_item_name' => $this->translate('task_item_name'),
    'task_item_group' => $this->translate('task_item_group'),
    'description' => $this->translate('description'),
    'vehicle_brand' => $this->translate('vehicle_brand'),
    'vehicle_type' => $this->translate('vehicle_type'),
    'change_hours' => $this->translate('change_timetrack_hours'),
    'debtor_number' => strtolower($this->translate('debtor_number')),
    'new_status' => strtolower($this->translate('new_status')),
    'btn_label_process' => strtolower($this->translate('btn_label_process')),
    'cancel' => strtolower($this->translate('cancel')),
    'uploaded_images_for' => strtolower($this->translate('uploaded_images_for')),
]);
?>

<div class="warehouse-container tabs workorder-edit"
     data-workorder_id="<?php echo $workorder->getWorkorderId(); ?>"
     data-active_tab="<?php echo $activeTab; ?>"
     data-is_locked="<?php echo $isWorkorderLocked; ?>"
>
    <ul class="tab-title position-relative">

        <?php if ($isWorkorderLocked): ?>
            <div class="workorder-lock-box">
                <?php echo $this->lockMessage($workorderLock); ?>
            </div>
        <?php endif; ?>

        <li class="border-straight border-blue">
            <a href="#tab-general">
                <span class="workorder-tab-icon workorder-tab-icon_general"></span>
                1. <?php echo $this->translate('General'); ?>
            </a>
        </li>
        <li class="border-straight border-blue">
            <a href="#tab-details">
                <span class="workorder-tab-icon workorder-tab-icon_details"></span>
                2. <?php echo $this->translate('WorkOrder'); ?>
            </a>
        </li>
        <li class="border-straight border-blue">
            <a href="#tab-administration">
                <span class=""></span>
                3. <?php echo $this->translate('Administration'); ?>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="tab-general" class="workorder-tab">
            <?php if ($activeTab === TAB_GENERAL): ?>
                <?php echo $this->action('get', 'workorder-general-tab', 'workshop', ['id' => $workorderId]); ?>
            <?php endif; ?>
        </div>

        <div id="tab-details" class="workorder-tab">
            <?php if ($activeTab === TAB_DETAILS): ?>
                <?php echo $this->action('get', 'workorder-details-tab', 'workshop', ['id' => $workorderId]); ?>
            <?php endif; ?>
        </div>
        <div id="tab-administration" class="workorder-tab">
            <?php if ($activeTab === TAB_ADMINISTRATION): ?>
                <?php echo $this->action('get', 'workorder-administration-tab', 'workshop', ['id' => $workorderId]); ?>
            <?php endif; ?>
        </div>
    </div>
</div>
