<div id="<?php echo $this->dateDivId; ?>" class="floatLeft">
    <?php echo $this->formatDate($this->currentDate); ?>
</div>
<div>
    <?php
    if ($this->showCalendarIcon) {
        echo $this->formHidden($this->fieldHiddenName,
                $this->formatDate($this->currentDate, 'Y-m-d'),
                $this->extraAttributes
        );
    }
    ?>
</div>
<div class="clearBoth"></div>