<?php $this->headLink()->appendStylesheet('/vbd/public/css/defects.css?25042017', 'screen'); ?>
<?php $this->headScript()->appendFile($this->baseUrl('/js/jquery.bt.min.js')); ?>
<?php $this->headScript()->appendFile('/vbd/public/js/jquery-ui.min.js'); ?>
<?php $this->headScript()->appendFile('/vbd/public/js/bvb_grid.js?v=20170818'); ?>
<?php $this->headScript()->appendFile('/vbd/public/js/popup.js?V201411131521'); ?>


<div class="title">
    <h2 class="title print"><?php echo $this->translate("open_workorders"); ?></h2>
</div>

<?php if ($this->isAllowed('workshop.workorder.open-workorder-list')): ?>
    <div id="workorders-in" class="print">
        <?php echo $this->grid; ?>
    </div>

<?php endif ?>
