<?php

/**
 * @var BAS_Shared_View_View $this
 * @var Lease_Library_Grid_Table $grid
 * @var array $workorders
 */

$grid = $this->grid;

?>

<div class="open-workorder-list-container">
    <?php echo $grid; ?>
    <script><?php echo $grid->getJSCode(); ?></script>
</div>

<div class="js-control-buttons text-align-right action-buttons right-bottom-block">
    <button class="js-add-to-workorder" type="button"><?php echo $this->translate('add_to_workorder'); ?></button>
    <button class="js-cancel" type="button"><?php echo $this->translate('cancel'); ?></button>
</div>