<?php
/**
 * @var BAS_Shared_View_View $this
 * @var Workshop_Form_WorkorderGeneral $generalForm
 * @var BAS_Shared_Model_OrderWorkshop $workorder
 */

$dateFormat = 'd-m-Y';
$generalForm = $this->generalForm;
$workorder = $this->workorder;
?>

<div class="workorder-general-info width-full">

    <div class="info-left">

        <table>

            <tr>
                <td>
                    <label for="source" class="bold label-required">
                        <?php echo $this->translate('workorder_source'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $generalForm->getElement('type'); ?>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="type" class="bold label-required">
                        <?php echo $this->translate('workorder_type'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $generalForm->getElement('defaultDepotBookingCodeId'); ?>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="affiliateDepots" class="bold label-required">
                        <?php echo $this->translate('workshop'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $generalForm->getElement('workshopId'); ?>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="warehouseId" class="bold label-required">
                        <?php echo $this->translate('warehouse'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $generalForm->getElement('warehouseId'); ?>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="activity" class="bold label-required">
                        <?php echo $this->translate('activity'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $generalForm->getElement('defaultLabourActivityId'); ?>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="labourRate" class="bold label-required">
                        <?php echo $this->translate('rate'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $generalForm->getElement('defaultLabourRateId'); ?>
                    <?php echo $generalForm->getElement('updateDetailsLabourRate'); ?>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="mileage" class="bold">
                        <?php echo $this->translate('mileage'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $generalForm->getElement('mileage'); ?>
                </td>
            </tr>

        </table>

    </div>

    <div class="info-right">

        <table>

            <tr>
                <td>
                    <label for="receptionist" class="bold">
                        <?php echo $this->translate('receptionist'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $generalForm->getElement('userId'); ?>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="deadlineDate" class="bold">
                        <?php echo $this->translate('deadline'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $generalForm->getElement('deadlineDate'); ?>
                    <?php echo $generalForm->getElement('deadlineDateOriginal'); ?>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="startDate" class="bold">
                        <?php echo $this->translate('label_start_date'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $generalForm->getElement('startDate'); ?>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="finalDate" class="bold">
                        <?php echo $this->translate('end_date'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $generalForm->getElement('finishedDate'); ?>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="finalDate" class="bold">
                        <?php echo $this->translate('customer_ref_number'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $generalForm->getElement('customerReferenceNo'); ?>
                </td>
            </tr>

            <tr>
                <td><label class="bold"><?php echo ucfirst($this->translate('locked')); ?></label></td>
                <td><?php echo $generalForm->getElement('locked'); ?></td>
            </tr>
            <?php echo $generalForm->getElement('workorderId'); ?>
        </table>

    </div>

</div>