<?php

/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_OrderWorkshop $workorder
 * @var Workshop_Form_CancelWorkorder $form
 */

$workorder = $this->workorder;
$isReadonly = $this->isReadonly;
$isTimeSpentAttachedToWorkorder = $this->isTimeSpentAttachedToWorkorder;
$form = $this->form;

if (!$this->isAllowed('workshop.workorder.cancel')) {
    echo $this->translate('no_rights_for_cancel_order');
    return;
}

if ($isReadonly) {
    echo $this->translate('cant_close_workorder_due_read_only');
    return;
}

if ($isTimeSpentAttachedToWorkorder) {
    echo $this->translate('cant_close_workorder_due_time_spent_attached');
    return;
}

?>

<div>
    <button type="button" class="js-cancel-order-button-show"><?php echo $this->translate('taborder_cancelbutton'); ?></button>
    <span><?php echo $this->translate('click_to_cancel_order'); ?></span>
</div>

<div class="js-cancel-workorder displayNone"
     data-workorder-id="<?php echo $workorder->getWorkorderId(); ?>"
>
    <label for="reasonId">
        <?php echo $this->translate('taborder_reasoncancellabel'); ?>
    </label>

    <?php echo $form->getElement('reasonId'); ?>
    <?php echo $form->getElement('reasonText'); ?>

    <button type="button" class="js-cancel-order-button-submit">
        <?php echo $this->translate('cancel_order'); ?>
    </button>
</div>