<?php
/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_OrderWorkshop $workorder
 */
$workorder = $this->workorder;
$isCustomerApplicable = $this->isCustomerApplicable;
$isFleetVehicle = $this->isFleetVehicle;
$isStockVehicle = $this->isStockVehicle;
$isOrderVehicle = $this->isOrderVehicle;
$isReadonly = $this->isReadonly;
$isTimeSpentAttachedToWorkorder = $this->isTimeSpentAttachedToWorkorder;

/** @var bool $isInternalWorkorder */
$isInternalWorkorder = $this->isInternalWorkorder;

$workorderData = array_merge(array_intersect_key($workorder->toArray(), array_flip(
    ['type', 'workorderId', 'contactId', 'vehicleId', 'invoiceAddressId', 'depotId'])
), ['isReadonly' => $isReadonly, 'isInternalWorkorder' => $isInternalWorkorder]);
?>

<div class="width1076">
    <div class="tab-errors js-errors-container"></div>

    <form method="post" class="js-workorder-form-general" action="<?php echo $this->url([
        'action' => 'save',
        'controller' => 'workorder-general-tab',
        'module' => 'workshop',
        'id' => $workorder->workorderId,
    ]); ?>"
          data-workorder="<?php echo $this->escape(json_encode($workorderData));?>"
          data-msg_update_labour_rates="<?php echo $this->translate('msg_update_workorder_labour_rates'); ?>"
    >
        <fieldset>
            <legend><?php echo $this->translate('general') ?></legend>
            <div id="general-info">
                <?php echo $this->action('general', 'workorder-general-tab', 'workshop', [
                    'workorderId' => $workorder->workorderId,
                    'nojs' => true,
                    'belongTo' => 'general',
                ]); ?>
            </div>
        </fieldset>

        <fieldset class="<?php if (!$isCustomerApplicable  && !$isInternalWorkorder) echo 'hide'; ?>">
            <legend><?php echo $this->translate('tabcontact_clientheader') ?></legend>
            <div id="select-customer-block">
                <?php echo $this->action('select-customer', 'workorder-general-tab', 'workshop', [
                    'contactId' => $workorder->getContactId(),
                    'personId' => $workorder->getPersonId(),
                    'depotId' => $workorder->getDepotId(),
                    'isInternalWorkorder' => $isInternalWorkorder,
                    'isCustomerApplicable' => $isCustomerApplicable,
                    'isReadonly' => $isReadonly,
                    'nojs' => true,
                ]); ?>
            </div>

        </fieldset>

        <fieldset class="<?php if ((!$isCustomerApplicable && !$isInternalWorkorder) || !$workorder->getContactId()) echo 'hide'; ?>">
            <legend><?php echo $this->translate('invoice_address') ?></legend>
            <div id="invoice-address">
                <?php
                if ($isCustomerApplicable || $workorder->getContactId()) {
                    echo $this->action('select', 'address', 'contact', [
                        'addressContactId' => $workorder->getContactId(),
                        'depotId' => $workorder->getDepotId(),
                        'selectedAddressId' => $workorder->getInvoiceAddressId(),
                        'extraAddressIds' => [$workorder->getInvoiceAddressId()],
                        'nojs' => true,
                    ]);
                }
                ?>
            </div>
        </fieldset>

        <fieldset class="<?php if (!(($isFleetVehicle && $workorder->getContactId()) || $isStockVehicle || $isOrderVehicle || $workorder->getVehicleId())) echo 'hide'; ?>">
            <legend><?php echo $this->translate('select_vehicle') ?></legend>

            <div id="select-vehicle">
                <?php echo $this->action('select-vehicle', 'workorder-general-tab', 'workshop', [
                    'contactId' => $workorder->getContactId(),
                    'contactVehicleId' => $workorder->getVehicleId(),
                    'workorderType' => $workorder->type,
                    'isReadonly' => $isReadonly,
                    'nojs' => true,
                ]); ?>
            </div>
        </fieldset>

        <fieldset>
            <legend><?php echo $this->translate('cancel_workorder'); ?></legend>
            <div id="cancel-workorder">
                <?php echo $this->action('get-cancel-workorder', 'workorder-general-tab', 'workshop', [
                    'workorderId' => $workorder->workorderId,
                    'isReadonly' => $isReadonly,
                    'isTimeSpentAttachedToWorkorder' => $isTimeSpentAttachedToWorkorder,
                    'nojs' => true,
                ]); ?>
            </div>
        </fieldset>

        <div class="clearfix">
            <button type="submit" class="floatRight width170 js-button-save"><?php echo $this->translate('to_workorder'); ?></button>
        </div>

    </form>
</div>