<?php

/**
 * @var BAS_Shared_View_View $this
 */

$contactId = $this->contactId;
$vehicleId = $this->vehicleId;
$isFleetVehicle = $this->isFleetVehicle;
$isStockVehicle = $this->isStockVehicle;
$isOrderVehicle = $this->isOrderVehicle;
$isReadonly = $this->isReadonly;
$workorderType = $this->workorderType;

if ($isFleetVehicle && $contactId === 0) {
    return;
}
?>

<?php if ($isStockVehicle || $isOrderVehicle): ?>
    <div class="js-select-stock-vehicle">
        <?php echo $this->action('select-stock-vehicle', 'workorder-general-tab', 'workshop', [
            'vehicleId' => $vehicleId,
            'isReadonly' => $isReadonly,
            'workorderType' => $workorderType,
            'nojs' => true,
        ]); ?>
    </div>
<?php endif; ?>

<?php if ($isFleetVehicle): ?>
    <div class="js-select-fleet-vehicle">
        <?php echo $this->action('select-fleet-vehicle', 'workorder-general-tab', 'workshop', [
            'contactId' => $contactId,
            'isReadonly' => $isReadonly,
            'contactVehicleId' => $vehicleId,
            'belongTo' => 'unknownVehicle',
            'nojs' => true,
        ]); ?>
    </div>
<?php endif; ?>
