<?php
/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_Vehicle $vehicle
 * @var BAS_Shared_Model_OrderWorkshop[] $openWorkordersForVehicle
 */
$vehicle = $this->vehicle;
$openWorkordersForVehicle = $this->openWorkordersForVehicle;
?>

<div class="vehicle-confirmation-block">
    <table>
        <tr>
            <td>
                <img class="displayBlock"
                     width="100"
                     height="75"
                     src="<?php echo $this->vehicleImage($vehicle->getVehicleId()); ?>"
                >
            </td>
            <td class="vehicle-confirmation-block__description">
                <div class="vehicle-confirmation-block__title">
                    <?php printf('%s - %s %s %s %s -',
                        $vehicle->getVehicleId(),
                        $vehicle->getBrand(),
                        $vehicle->getConfiguration(),
                        $vehicle->getType(),
                        $vehicle->getFirstRegistrationYear()
                    ) ?>
                </div>
                <div><?php echo $this->translate('this_vehicle_is_already_present_in_workorders'); ?></div>

                <?php foreach ($openWorkordersForVehicle as $workorder): ?>

                    <?php
                    $createdAt = DateTime::createFromFormat('Y-m-d H:i:s', $workorder->getCreatedAt());
                    $createdAt = $createdAt === false ? '' : $createdAt->format('d-m-Y');
                    ?>

                    <div>
                        <a href=""><?php echo $workorder->getWorkorderId(); ?></a>
                        <span>
                            <?php printf(' - %s: %s - %s: %s',
                                $this->translate('source'),
                                BAS_Shared_Model_OrderWorkshop::$typeLabel[$workorder->getType()],
                                $this->translate('created'),
                                $createdAt
                            ); ?>
                        </span>
                    </div>
                <?php endforeach; ?>
            </td>
            <td>
                <button type="button" class="js-continue" data-vehicle_id="<?php echo $vehicle->getVehicleId(); ?>">
                    <?php echo $this->translate('continue'); ?>
                </button>
                <br>
                <button type="button" class="js-cancel">
                    <?php echo $this->translate('cancel'); ?>
                </button>
            </td>
        </tr>
    </table>
</div>