<?php

/**
 * @var BAS_Shared_View_View $this
 * @var Bvb_Grid $grid
 * @var array $vehicleTypes
 */

$contactId = $this->contactId;
$contactVehicleId = $this->contactVehicleId;
$grid = $this->grid;
$vehicleTypes = $this->vehicleTypes;
$belongTo = $this->belongTo;
$isReadonly = $this->isReadonly;

$this->inlineScript()->appendFile('/vbd/public/js/contact_fleet.min.js?v=2016093012211');
?>

<?php echo $this->formHidden($this->formFieldName('oldContactId', $belongTo), $contactId, ['class' => 'js-data-contact_id']); ?>
<?php echo $this->formHidden($this->formFieldName('oldVehicleId', $belongTo), $contactVehicleId, ['class' => 'js-data-contact_vehicle_id']); ?>

<?php if (!$this->isAllowed('contact.fleet-vehicle-overview-widget.edit')) : ?>
    <?php echo $this->translate('no_right_to_user'); ?>
    <?php return; ?>
<?php endif; ?>

<table><tr><td>

<?php if (!$isReadonly): ?>
<span class="action js-action-add_vehicle vehicleOverviewTopLink">
    <a href=" <?php echo $this->url([
        'action' => 'edit',
        'controller' => 'fleet-vehicle-overview-widget',
        'module' => 'contact',
        'id' => $contactId,
        'vehicleId' => 0,
    ], null, true);?> ">
        <?php echo $this->translate('add_vehicle'); ?>
        <img src="/vbd/public/images/add.png" title="<?php echo $this->translate('add_vehicle'); ?>" />
    </a>
</span>
<?php endif; ?>

<?php echo '<script>' . $grid->lastScript . '</script>'; ?>
<?php echo $grid; ?>

<div class="workorder-general-info flex-box flex-box_row width-full">

    <div class="paddingRight69">
        <label class="cursorPointer">
            <input type="radio"
                   name="vehicle[vehicleId]"
                   value="unknown"
                   class="js-new_vehicle-radio"
                   <?php echo $isReadonly ? ' disabled' : ''; ?>
            >
            <?php echo $this->translate('unknown_vehicle'); ?>
        </label>
    </div>

    <div class="flex-grow-1">
        <table>
            <tr>
                <td>
                    <label for="source" class="bold label-required">
                        <?php echo $this->translate('identification'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $this->formText($this->formFieldName('vin', $belongTo), '', [
                        'class' => 'width250 js-new_vehicle-data_input',
                        'placeholder' => $this->translate('placeholder_fill_chassisnumber'),
                        'disable' => $isReadonly
                    ]); ?>

                    <span><?php echo $this->translate('Or'); ?></span>

                    <?php echo $this->formText($this->formFieldName('license_plate', $belongTo), '', [
                        'class' => 'width250 js-new_vehicle-data_input',
                        'placeholder' => $this->translate('placeholder_fill_licence_plate'),
                        'disable' => $isReadonly
                    ]); ?>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="source" class="bold label-required">
                        <?php echo $this->translate('vehicle_type'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $this->formSelect($this->formFieldName('vehicle_type_id', $belongTo), '', [
                        'class' => 'width250 js-select-vehicle_type js-new_vehicle-data_input',
                        'disable' => $isReadonly
                    ], $vehicleTypes); ?>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="source" class="bold label-required">
                        <?php echo $this->translate('brand'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $this->formSelect($this->formFieldName('brand_id', $belongTo), '', [
                            'class' => 'width250 js-select-brand js-new_vehicle-data_input',
                            'disable' => $isReadonly
                        ],
                        ['' => $this->translate('label_select')]
                    ); ?>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="source" class="bold">
                        <?php echo $this->translate('label_type'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $this->formText($this->formFieldName('type', $belongTo), '', [
                        'class' => 'width250 js-new_vehicle-data_input',
                        'disable' => $isReadonly
                    ]); ?>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="source" class="bold">
                        <?php echo $this->translate('registration'); ?>
                    </label>
                </td>
                <td>
                    <?php echo $this->formText($this->formFieldName('registration', $belongTo), '', [
                            'class' => 'width250 js-contact_vehicle-datepicker js-new_vehicle-data_input',
                            'disable' => $isReadonly
                        ]
                    ); ?>
                </td>
            </tr>

        </table>
    </div>
</div>

</td></tr></table>