<?php

/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_Vehicle $vehicle
 * @var BAS_Shared_Model_Vehicle $searchVehicle
 * @var BAS_Shared_Model_OrderWorkshop[] $openWorkordersForVehicle
 */

$vehicleId = $this->vehicleId;
$searchTruckId = $this->searchTruckId;
$openWorkordersForVehicle = $this->openWorkordersForVehicle;
$vehicle = $this->vehicle;
$searchVehicle = $this->searchVehicle;
$belongsTo = $this->belongsTo;
$isReadonly = $this->isReadonly;
?>

<?php if (
    ($vehicleId === 0) ||
    ($vehicleId > 0 && $vehicle === null) ||
    ($searchTruckId > 0 && $openWorkordersForVehicle !== [])
): ?>
    <div>
        <label>
            <span><?php echo $this->translate('reference_number'); ?></span>
            <input type="text"
                   class="js-vehicle-search"
                   placeholder="<?php echo $this->translate('type_truck_id'); ?>"
                   <?php echo $isReadonly ? 'disabled' : ''; ?>
            >
        </label>
        <button type="button" class="js-add-vehicle" <?php if ($isReadonly) echo 'disabled'; ?>>
            <?php echo $this->translate('add_vehicle'); ?>
        </button>
    </div>
<?php endif; ?>

<?php if ($vehicleId > 0): ?>
    <?php if ($vehicle === null): ?>
        <?php echo $this->translate('vehicle_not_found') . ' Vehicle ID: ' . $vehicleId; ?>
    <?php else: ?>
        <?php echo $this->partial('workorder-general-tab/select-vehicle_vehicle-table.phtml', [
            'vehicles' => [$vehicle],
            'isReadonly' => $isReadonly,
            'belongsTo' => $belongsTo,
        ]); ?>
    <?php endif; ?>
<?php endif; ?>

<?php if ($searchTruckId > 0): ?>
    <?php if ($searchVehicle === null): ?>
        <?php echo $this->translate('vehicle_not_found') . ' Truck ID: ' . $searchTruckId; ?>
    <?php else: ?>
        <?php echo $this->partial('workorder-general-tab/select-vehicle_vehicle-confirmation.phtml', [
            'vehicle' => $searchVehicle,
            'openWorkordersForVehicle' => $openWorkordersForVehicle,
        ]); ?>
    <?php endif; ?>
<?php endif; ?>