<?php

/**
 * @var BAS_Shared_View_View $this
 */

$contactId = (int) $this->contactId;
$personId = (int) $this->personId;
$isInternalWorkorder = $this->isInternalWorkorder;
$isReadonly = $this->isReadonly;
$workorderDepotName = $this->workorderDepotName;
$defaultDebtorId = $this->defaultDebtorId;
$accountingDepotId = $this->accountingDepotId;
$isCustomerApplicable = $this->isCustomerApplicable;
?>
<?php if($isCustomerApplicable || $isInternalWorkorder): ?>
    <?php
    $selectCustomerElement =  $this->action('select', 'customer', 'contact', [
        'companyId' => $contactId,
        'personId' => $personId,
        'isReadonly' => $isReadonly,
        'nojs' => true,
    ]);
    ?>

    <?php if($isInternalWorkorder): ?>
        <ul id="customer-sel-options">
            <li><input type="radio" name="customer[customer_type]" class="js-customer-type-sel" id="c-sel-default" value="default_debtor" <?php if (empty($contactId)): ?>checked<?php endif;?>> <label for="c-sel-default"><?php echo ucfirst($this->translate('internal')) ?>: <?php echo $workorderDepotName ?> - <?php echo ucfirst($this->translate('debtor_number')) ?>: <?php echo $defaultDebtorId ?></label></li>
            <li class="input-custom"><input type="radio" name="customer[customer_type]" class="js-customer-type-sel" id="c-sel-custom" value="selected_contact" <?php if (!empty($contactId)): ?>checked<?php endif;?>> <label for="c-sel-custom"><div id="select-customer" class="js-select-customer-contact" depotId="<?php echo $accountingDepotId ?>"><?php echo $selectCustomerElement; ?></div></label></li>
        </ul>
    <?php else: ?>
        <div id="select-customer" depotId="<?php echo $accountingDepotId ?>" class="js-select-customer-contact">
            <?php echo $selectCustomerElement; ?>
            <input type="hidden" name="customer[customer_type]" value="selected_contact" />
        </div>
    <?php endif; ?>
<?php endif; ?>