<?php
/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_Vehicle $vehicle
 */
$vehicle = $this->vehicle;
$isReadonly = $this->isReadonly;
$belongsTo = $this->belongsTo;
?>

<tr>
    <td class="padding0">
        <input type="hidden"
               class="js-vehicle-id"
               name="<?php echo $this->formFieldName('vehicleId', $belongsTo); ?>"
               value="<?php echo $vehicle->getVehicleId(); ?>"
        >

        <?php if (!$isReadonly): ?>
            <img src="/vbd/public/images/delete.png" class="vehicle-select__remove cursorPointer js-remove-vehicle">
        <?php endif; ?>
    </td>
    <td class="no-padding">
        <img class="displayBlock"
             width="100"
             height="75"
             src="<?php echo $this->vehicleImage($vehicle->getVehicleId()); ?>"
        >
    </td>
    <td><?php echo $vehicle->getTruckId(); ?></td>
    <td><?php echo $this->vehicleTypeAbbr($vehicle->getVehicleTypeId()); ?></td>
    <td>
        <?php printf('%s %s %s',
            $vehicle->getBrand(),
            $vehicle->getConfiguration(),
            $vehicle->getType()
        ) ?>
    </td>
    <td><?php echo $this->translate($vehicle->extension); ?></td>
    <td><?php echo $vehicle->getFirstRegistrationYear(); ?></td>
    <td><?php echo $vehicle->weight; ?></td>
    <td><?php echo $vehicle->getChassisNumber(); ?></td>
    <td><?php echo $vehicle->badgeAbroad ? $vehicle->badgeAbroad : $vehicle->licensePlate; ?></td>
</tr>