<?php
/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_Vehicle[] $vehicles
 */
$vehicles = $this->vehicles;
$isReadonly = $this->isReadonly;
$belongsTo = $this->belongsTo;
?>

<div class="vehicle-select">
    <table class="default-table js-vehicles-table">
        <thead class="<?php if ($vehicles === []) echo 'displayNone'; ?>">
        <tr>
            <th class="padding0"></th>
            <th><?php echo $this->translate('picture'); ?></th>
            <th><?php echo $this->translate('TR'); ?></th>
            <th><?php echo $this->translate('S'); ?></th>
            <th><?php echo $this->translate('label_description'); ?></th>
            <th><?php echo $this->translate('superstructure'); ?></th>
            <th><?php echo $this->translate('year'); ?></th>
            <th><?php echo $this->translate('weight'); ?></th>
            <th><?php echo $this->translate('chassis_number'); ?></th>
            <th><?php echo $this->translate('licence_plate'); ?></th>
        </tr>
        </thead>

        <tbody>
            <?php foreach ($vehicles as $index => $vehicle): ?>
                <?php echo $this->partial('workorder-general-tab/select-vehicle_vehicle-row.phtml', 'workshop', [
                    'vehicle' => $vehicle,
                    'isReadonly' => $isReadonly,
                    'belongsTo' => strtr($belongsTo, ['{index}' => '[' . $index . ']']),
                ]); ?>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>