<?php

/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_ListVatType $vatTypeSelected
 * @var string $defaultLanguage
 */
$workorderId = $this->workorderId;
$workorder = $this->workorder;
$reportData = $this->reportData;
$languageOptions = $this->languageOptions;
$defaultLanguage = $this->defaultLanguage;
$isInternalWorkorder = $this->isInternalWorkorder;
$defaultDebtorId = $this->defaultDebtorId;
$isCustomerApplicable = $this->isCustomerApplicable;


$customerNumber = $reportData['customerNumber'];
$salesPersonName = $reportData['salesPersonName'];
$vatCode = $reportData['vatCode'];
$orderNumber = $reportData['orderNumber'];
$orderSaleDate = $reportData['orderSaleDate'];
$depotName = $reportData['depotName'];
$countryCode = $reportData['countryCode'];
$languageCode = $reportData['languageCode'];
$offerExtraInformation = $reportData['offerExtraInformation'];
$invoiceContactId = $reportData['invoiceContactId'];
$invoiceContactName = $reportData['invoiceContactName'];

$vatTypeList = $reportData['vatTypeList'];
$vatTypeSelected = $reportData['vatTypeSelected'];
?>

<form method="post" target="_blank" class="form-sales-offer-report">

    <input type="hidden" name="workorderId" value="<?php echo $workorderId; ?>">

    <div class="flex-box flex-box_row flex-justify_space-between">
        <div>
            <table>
                <tr>
                    <td><?php echo $this->translate('depot'); ?>: </td>
                    <td><?php echo $depotName; ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('vat_number'); ?>: </td>
                    <td><?php echo $vatCode; ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('language'); ?>: </td>
                    <td><?php echo $this->formSelect('language', $defaultLanguage, null, $languageOptions); ?></td>
                </tr>
            </table>
        </div>

        <div>
            <table>
                <?php if (!empty($countryCode)): ?>
                    <tr>
                        <td><?php echo $this->translate('country'); ?>: </td>
                        <td><?php echo $this->country($countryCode); ?></td>
                    </tr>
                <?php endif; ?>

                <?php echo $this->partial('partial/report-popup-customer-info.phtml', [
                    'workorder' => $workorder,
                    'defaultDebtorId' => $defaultDebtorId,
                    'isCustomerApplicable' => $isCustomerApplicable,
                    'isInternalWorkorder' => $isInternalWorkorder,
                    'invoiceContactId' => $invoiceContactId,
                    'invoiceContactName' => $invoiceContactName,
                    'customerNumber' => $customerNumber,
                ]); ?>

                <tr>
                    <td><?php echo $this->translate('vat'); ?>: </td>
                    <td><?php echo $this->formSelect('vatType', $vatTypeSelected ? $vatTypeSelected->getId() : null, [], $vatTypeList); ?></td>
                </tr>

                <tr>
                    <td colspan="2">
                        <label for="printHeaderFooter"><?php echo $this->translate('print_logo_and_footer'); ?></label>
                        <?php echo $this->formRadio('printHeaderFooter', 1, null, [1 => 'yes', 0 => 'no'], ''); ?>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div>
        <div class="extra-info-label"><?php echo $this->translate('extra_info'); ?></div>
        <textarea name="extraInformation" id="taExtraInfo" cols="30" rows="10"><?php echo $offerExtraInformation; ?></textarea>
    </div>

    <div class="js-control-buttons">
        <button class="js-generate-offer" type="button" data-loading-msg="<?php echo $this->translate('generating...');?>"><?php echo $this->translate('generate_proforma');?></button>
        <button class="js-cancel" type="button"><?php echo $this->translate('cancel');?></button>
    </div>

</form>