<?php
$this->headLink()->appendStylesheet('/vbd/public/css/grid.css');
$this->headLink()->appendStylesheet('/vbd/public/css/warehouse/main.min.css?v=20170313');
$this->headScript()->appendFile('/vbd/public/js/bvb_grid.js');
?>

<div class="width700">
    <h2><?php echo $this->translate('manage_activities'); ?></h2>

    <div class="add-entity-block">
        <a href="<?php echo $this->url(['module' => 'workshop', 'controller' => 'labour-activity', 'action' => 'add'], null, true); ?>">
            <img class="verticalAlignMiddle" src="/vbd/public/images/add.png" />
            <?php echo $this->translate('add_activity'); ?>
        </a>
    </div>

    <div>
        <?php echo $this->grid; ?>
    </div>
</div>
