<?php
if ($this->errorMessage) :
    echo $this->translate('errorMessage');
else : ?>
<form id="advanceSearch" action="<?php echo $this->urlMap('extranetFullUrl'); ?>/workshop/index/index" method="post"  >
    <h3 class="workshopTitle"><?php echo $this->translate('WorkshopAdvanceSearch'); ?></h3>
    <div class="advancesearch">
        <table class="searchtable" width="875">
            <!-- First row in advance search form-->
            <tr class="bluebg"><td colspan="4" align="center"><?php echo $this->translate('WorkOrder'); ?></td></tr>
            <tr>
                <td><lable><?php echo $this->translate('OrderId'); ?></lable></td>
                <td><?php echo $this->form->salesNumber; ?></td>
                <td><lable><?php echo $this->translate('WorkOrderId'); ?></lable></td>
                <td><?php echo $this->form->workOrderId; ?></td>
            </tr>
            <tr>
                <td><lable><?php echo $this->translate('TruckId'); ?></lable></td>
                <td><?php echo $this->form->referenceNumbers; ?></td>
                <td><lable> <?php echo $this->translate('As400Id'); ?></lable></td>
                <td><?php echo $this->form->as400Id; ?></td>
            </tr>

            <!-- Second row in advance search form-->
            <tr class="bluebg">
                <td colspan="4" align="center"><?php echo $this->translate('VehicleSpecification'); ?></td>
            </tr>
            <tr>
                <td rowspan="3"><?php echo $this->translate('Type'); ?></td>
                <td rowspan="3"><?php echo $this->form->type; ?></td>
                <td><?php echo $this->translate('first_registration'); ?></td>
                <td>
                    <?php echo $this->form->registrationFrom; ?>
                    <?php echo $this->translate('Tot_met'); ?>
                    <?php echo $this->form->registrationTo; ?>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('vin_number'); ?></td>
                <td><?php echo $this->form->chassisNumber; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('license_plate'); ?></td>
                <td><?php echo $this->form->licensePlate; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Brand'); ?></td>
                <td><?php echo $this->form->brand; ?></td>
                <td><?php echo $this->translate('Description'); ?></td>
                <td><?php echo $this->form->description; ?></td>
            </tr>
            <tr class="bluebg">
                <td colspan="4" align="center"> <?php echo $this->translate('CustomerDetails'); ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Name'); ?></td>
                <td><?php echo $this->form->name; ?></td>
                <td><?php echo $this->translate('IncoTerm'); ?></td>
                <td><?php echo $this->form->incoterm; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Country'); ?></td>
                <td><?php echo $this->form->finalDestinationCountry; ?></td>
                <td><?php echo $this->translate('Transportationmethod'); ?></td>
                <td><?php echo $this->form->transportationMethod; ?></td>
            </tr>

            <!-- Third row in advance search form-->
            <tr class="bluebg">
                <td colspan="4" align="center"><?php echo $this->translate('OrderData'); ?></td>
            </tr>
            <tr>
                <td><lable><?php echo $this->translate('SalesPerson'); ?></lable></td>
                <td><?php echo $this->form->salesPerson; ?></td>
                <td><lable><?php echo $this->translate('SalesPrice'); ?></lable></td>
                <td>
                    <?php echo $this->form->salesPriceFrom; ?>
                    (<?php echo $this->translate('Tot_met'); ?><?php echo $this->form->salesPriceTo; ?>)
                </td>
            </tr>
            <tr>
                <td><lable><?php echo $this->translate('SalesDate'); ?></lable></td>
                <td>
                    <?php echo $this->form->salesDateFromDate; ?>
                    <?php echo $this->form->salesDateFromMonth; ?>
                    <?php echo $this->form->salesDateFrom; ?><br />
                    <?php echo $this->translate('Tot_met'); ?> :
                    <?php echo $this->form->salesDateToDate; ?>
                    <?php echo $this->form->salesDateToMonth; ?>
                    <?php echo $this->form->salesDateTo; ?>
                </td>

                <td><lable> <?php echo $this->translate('ReceivedPayment'); ?></lable></td>
                <td>
                    <?php echo $this->form->receivedFrom; ?>
                    (<?php echo $this->translate('Tot_met'); ?><?php echo $this->form->receivedTo; ?>)
                </td>
            </tr>
            <tr>
                <td><lable><?php echo $this->translate('Deadline'); ?></lable></td>
                <td>
                    <?php echo $this->form->deadlineFromDate; ?>
                    <?php echo $this->form->deadlineFromMonth; ?>
                    <?php echo $this->form->deadlineFrom; ?><br />
                    <?php echo $this->translate('Tot_met'); ?> : <?php echo $this->form->deadlineToDate; ?>
                    <?php echo $this->form->deadlineToMonth; ?>
                    <?php echo $this->form->deadlineTo; ?>
                </td>
                <td><lable>  <?php echo $this->translate('WplVoca'); ?> </lable></td>
                <td>
                    <?php echo $this->form->workshopVocaFrom; ?>
                    (<?php echo $this->translate('Tot_met'); ?><?php echo $this->form->workshopVocaTo; ?>)
                </td>
            </tr>
            <tr>
                <td><lable><?php echo $this->translate('entry_expected'); ?></lable></td>
                <td>
                    <?php echo $this->form->entryFromDate; ?>
                    <?php echo $this->form->entryFromMonth; ?>
                    <?php echo $this->form->entryFrom; ?><br />
                    <?php echo $this->translate('Tot_met'); ?> : <?php echo $this->form->entryToDate; ?>
                    <?php echo $this->form->entryToMonth; ?>
                    <?php echo $this->form->entryTo; ?>
                </td>
                <td></td>
                <td></td>
            </tr>

            <!-- Fourth row in advance search form-->
            <tr class="bluebg">
                <td colspan="4" align="center"><?php echo $this->translate('Status'); ?></td>
            </tr>
            <tr>
                <td colspan="4">
                    <?php echo $this->translate('ApprovalStatus');
                    echo $this->formCheckbox('approvalStatus[]', BAS_Shared_Model_OrderVehicle::PREPARATION_APPROVED_APPROVED); echo $this->translate('Approved');
                    echo $this->formCheckbox('approvalStatus[]', 'null'); echo $this->translate('Dissaproved');
                    echo $this->formCheckbox('approvalStatus[]', BAS_Shared_Model_OrderVehicle::PREPARATION_APPROVED_NOT_YET_APPROVED); echo $this->translate('AwaitingApproval');
                    echo $this->formCheckbox('approvalStatus[]', BAS_Shared_Model_OrderVehicle::PREPARATION_APPROVED_ON_HOLD); echo $this->translate('on_hold');
                    echo $this->formCheckbox('approvalStatus[]', BAS_Shared_Model_OrderVehicle::PREPARATION_APPROVED_READY_TO_BE_SEND); echo $this->translate('ready_to_be_send');
                    echo $this->formCheckbox('approvalStatus[]', BAS_Shared_Model_OrderVehicle::PREPARATION_APPROVED_DISAPPROVED); echo $this->translate('disapproved'); ?>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <?php echo $this->translate('WorkshopStatus');
                    echo $this->formCheckbox('workshopStatus[]', BAS_Shared_Model_OrderVehicle::PREPARATION_WORKSHOP_START); echo $this->translate('ActionRequired');
                    echo $this->formCheckbox('workshopStatus[]', BAS_Shared_Model_OrderVehicle::PREPARATION_WORKSHOP_IN_PROCESS); echo $this->translate('InProgress');
                    echo $this->formCheckbox('workshopStatus[]', BAS_Shared_Model_OrderVehicle::PREPARATION_WORKSHOP_ADDITIONAL_WORK); echo $this->translate('AdditionWork');
                    echo $this->formCheckbox('workshopStatus[]', BAS_Shared_Model_OrderVehicle::PREPARATION_WORKSHOP_COMPLETED); echo $this->translate('Finished');
                    echo $this->formCheckbox('workshopStatus[]', BAS_Shared_Model_OrderVehicle::PREPARATION_WORKSHOP_WORK_PLANNED); echo $this->translate('work_planned'); ?>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Delivered'); ?></td>
                <td>
                    <?php echo $this->form->deliveredFromDate; ?>
                    <?php echo $this->form->deliveredFromMonth; ?>
                    <?php echo $this->form->deliveredFrom; ?><br />
                    <?php echo $this->translate('Tot_met'); ?> : <?php echo $this->form->deliveredToDate; ?>
                    <?php echo $this->form->deliveredToMonth; ?>
                    <?php echo $this->form->deliveredTo; ?>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <?php echo $this->form->submit;
                    echo $this->form->reset;?>
                </td>
            </tr>
        </table>
    </div>
</form>
<?php endif;