<?php
$this->headScript()->appendFile($this->baseUrl() . '/js/jquery.bt.min.js');
$this->headLink()->appendStylesheet($this->baseUrl('/css/datepicker/base.min.css'))
    ->appendStylesheet($this->baseUrl('css/jquery-ui.bas.min.css'));
?>
<?php $this->showDragTableButtonPanel = false;?>
<div class="fl width100percent">
    <span class="workshoptitle">
        <?php echo $this->translate('WorkshopAgenda'); ?>
        <br>
        <?php
        if (false !== $this->orderWorkshopGrid) {
            echo $this->render('_partial/ui-preference-select-columns.phtml');
        }
        ?>
    </span>
    <div id="planningStatistics" class="height90px">
        <span>
            <img src="<?php echo $this->urlMap('imageUrl');?>/spinner.gif">
        </span>
    </div>
</div>
<?php if(isset($this->depotFilterOptions)) echo $this->render('partial/agenda-depot-filter.phtml'); ?>
<div class="clearfix"></div>
<div class="actionpageWrapper">
    <?php echo $this->render('partial/workshop-grid.phtml');?>
</div>