<?php
$this->headScript()->appendFile($this->baseUrl('/js/popup.min.js'));
$this->depotList = $this->depotList + ['external' => $this->translate('external_workorders')];
?>
<h2 class="title"><?php echo $this->translate('planning'); ?></h2>
<div class="margin-bottom-30">
    <span class="planningFilter">
        <b>
            <?php echo $this->translate('label_select_depot') ?> : 
        </b>
        <?php echo $this->depotList($this->depotList, 'depot-list')?>
    </span>
</div>

<div class="over-hide">
    <div id="planningStatistics" class="fl width90Percentage" >
        <span>
            <img src="<?php echo $this->urlMap('imageUrl');?>/spinner.gif">
        </span>
    </div>
</div>
<div class="actionpageWrapper">
    <div class="widget_frame">
        <?php
        if (false != $this->grid) {
            echo $this->render('_partial/ui-preference-select-columns.phtml');
        }
        ?>
        <div class="widget_container bvbPositionRelative">
            <div class="planningGrid">
            <input type="hidden" id="noProductAssignedMessage" value="<?php echo $this->translate('no_products_assigned_to_workorder'); ?>">
            <?php echo $this->grid; ?>
            </div>
        </div>
    </div>
</div>