{% extends 'invoice/header.twig' %}
{% block invoice_number_block %}{% if totalAmountWithoutVat >= 0 %}{{ 'internal_invoice'|translate }}{% else %}{{ 'internal_credit_invoice'|translate }}{% endif %} nr. {{ invoiceNumber }}{% endblock %}
{% block customer_details_block %}
    <table class="no-padding" align="left" cellpadding="0" cellspacing="0">
        <tr>
            <td>{{ 'order_number'|translate }}</td>
            <td width="5%"></td>
            <td>{{ orderNumber }}</td>
        </tr>
        <tr>
            <td>{{ 'date'|translate }}</td>
            <td width="5%"></td>
            <td>{{ invoiceDate }}</td>
        </tr>
    </table>
{% endblock %}