<?php
/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_OrderWorkshop $workorder
 * @var BAS_Shared_Model_OrderVehicle $orderVehicle
 */

$workorder = $this->workorder;
$internalApiUrl = $this->internalApiUrl;
$orderVehicle = $this->orderVehicle;
$isWorkorderLocked = $this->isWorkorderLocked;
$containsOnlyInternalDetails = $this->containsOnlyInternalDetails;
?>

<?php if ($workorder->getStatus() === BAS_Shared_Model_OrderWorkshop::WORKORDER_OFFER): ?>
    <button type="button" class="js-save-offer"><?php echo $this->translate('save_offer'); ?></button>
    <button type="button" class="js-make-order"><?php echo $this->translate('make_order'); ?></button>
    <button type="button" class="js-print-offer"><?php echo $this->translate('print_offer'); ?></button>
    <button type="button" class="js-print-proforma-invoice"><?php echo $this->translate('print_proforma_invoice'); ?></button>
<?php endif; ?>

<?php if ($workorder->getStatus() === BAS_Shared_Model_OrderWorkshop::WORKORDER_START): ?>
    <button type="button" class="js-print-offer"><?php echo $this->translate('print_offer'); ?></button>
    <button type="button" class="js-print-proforma-invoice"><?php echo $this->translate('print_proforma_invoice'); ?></button>
    <button type="button" class="js-print-pick-order"><?php echo $this->translate('pick_order'); ?></button>

    <?php echo $this->partial('workorder-details-tab/partial/button-print-workorder.phtml', [
        'workorder' => $workorder,
        'internalApiUrl' => $internalApiUrl,
        'orderVehicle' => $orderVehicle,
    ]); ?>

    <?php echo $this->partial('workorder-details-tab/partial/button-close-workorder.phtml', [
        'isWorkorderLocked' => $isWorkorderLocked,
    ]); ?>
<?php endif; ?>

<?php if ($workorder->getStatus() === BAS_Shared_Model_OrderWorkshop::WORKORDER_PRINTED): ?>
    <button type="button" class="js-print-offer"><?php echo $this->translate('print_offer'); ?></button>
    <button type="button" class="js-print-proforma-invoice"><?php echo $this->translate('print_proforma_invoice'); ?></button>
    <button type="button" class="js-print-pick-order"><?php echo $this->translate('pick_order'); ?></button>

    <?php echo $this->partial('workorder-details-tab/partial/button-print-workorder.phtml', [
        'workorder' => $workorder,
        'internalApiUrl' => $internalApiUrl,
        'orderVehicle' => $orderVehicle,
    ]); ?>

    <?php echo $this->partial('workorder-details-tab/partial/button-close-workorder.phtml', [
        'isWorkorderLocked' => $isWorkorderLocked,
    ]); ?>

    <?php echo $this->partial('workorder-details-tab/partial/button-invoice-workorder.phtml', [
        'isWorkorderLocked' => $isWorkorderLocked,
        'containsOnlyInternalDetails' => $containsOnlyInternalDetails,
    ]); ?>
<?php endif; ?>

<?php if ($workorder->getStatus() === BAS_Shared_Model_OrderWorkshop::WORKORDER_CLOSED): ?>
    <button type="button" class="js-print-offer"><?php echo $this->translate('print_offer'); ?></button>
    <button type="button" class="js-print-proforma-invoice"><?php echo $this->translate('print_proforma_invoice'); ?></button>
    <button type="button" class="js-print-pick-order"><?php echo $this->translate('pick_order'); ?></button>

    <?php echo $this->partial('workorder-details-tab/partial/button-reopen-workorder.phtml', [
        'isWorkorderLocked' => $isWorkorderLocked,
    ]); ?>

    <?php echo $this->partial('workorder-details-tab/partial/button-invoice-workorder.phtml', [
        'isWorkorderLocked' => $isWorkorderLocked,
        'containsOnlyInternalDetails' => $containsOnlyInternalDetails,
    ]); ?>
<?php endif; ?>

<?php if ($workorder->getStatus() === BAS_Shared_Model_OrderWorkshop::WORKORDER_INVOICED): ?>
    <button type="button" class="js-print-offer"><?php echo $this->translate('print_offer'); ?></button>
    <button type="button" class="js-print-proforma-invoice"><?php echo $this->translate('print_proforma_invoice'); ?></button>
    <button type="button" class="js-print-pick-order"><?php echo $this->translate('pick_order'); ?></button>
<?php endif; ?>

<?php if ($isWorkorderLocked): ?>
    <span class="error"><?php echo ucfirst($this->translate('workorder_locked_by')) . ' ' . $this->userAbbreviation($workorder->getLockedBy()) . ' '. $this->translate('at') .' ' . $workorder->getLockedAt(); ?></span>
<?php endif; ?>