<?php

/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_OrderWorkshop $workorder
 */
$workorder = $this->workorder;
$workorderDepotName = $this->workorderDepotName;
$defaultDebtorId = $this->defaultDebtorId;
$isCustomerApplicable = $this->isCustomerApplicable;
$isInternalWorkorder = $this->isInternalWorkorder;
$customerInformation = $this->customerInformation;

?>

<table class="width-full">
    <tbody>
        <?php if($isInternalWorkorder && $workorder->getContactId() === null): ?>
            <tr>
                <td><?php echo ucfirst($this->translate('internal')) ?>:</td>
                <td><?php echo $workorderDepotName ?></td>
            </tr>
            <tr>
                <td><?php echo ucfirst($this->translate('debtor_number')); ?>:</td>
                <td><?php echo $defaultDebtorId ?></td>
            </tr>
        <?php elseif($workorder->getContactId() !== null): ?>
            <tr>
                <td><?php echo $this->translate('name'); ?></td>
                <td><a href="<?php echo $this->contactCardUrl($workorder->getContactId()); ?>" target="_blank"><span class="vcard"></span><?php echo isset($customerInformation['name']) ? $customerInformation['name'] : ''; ?></a></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Industry'); ?></td>
                <td><?php echo isset($customerInformation['industry']) ? $customerInformation['industry'] : ''; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('client_priority'); ?></td>
                <td><?php echo isset($customerInformation['customerPriority']) ? $customerInformation['customerPriority'] : ''; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('contact_person'); ?></td>
                <td><?php if ($workorder->getPersonId()): ?>
                        <a href="<?php echo $this->contactCardUrl($workorder->getPersonId()); ?>" target="_blank"><span class="vcard"></span><?php echo isset($customerInformation['contactPerson']) ? $customerInformation['contactPerson'] : ''; ?></a>
                    <?php endif; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('invoice_customer'); ?></td>
                <td>
                    <?php if(isset($customerInformation['invoiceAddressCompany']) && isset($customerInformation['contactAddressContactId'])): ?>
                        <a href="<?php echo $this->contactCardUrl($customerInformation['contactAddressContactId']); ?>" target="_blank"><span class="vcard"></span><?php echo $customerInformation['invoiceAddressCompany']; ?></a>
                    <?php endif; ?>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('debtor_number'); ?></td>
                <td><?php echo isset($customerInformation['debtorNumber']) ? $customerInformation['debtorNumber'] : ''; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('credit_limit_after_sale'); ?></td>
                <td>
                    <?php if(isset($customerInformation['creditLimit'])):?>
                        <?php echo (float)$customerInformation['creditLimit'] < (float)$customerInformation['sumOpenAmount'] ? ' class="open-amount-credit-limit"' : ''; ?>><?php echo number_format($customerInformation['creditLimit'], 2, ',', '.'); ?>
                    <?php endif; ?>
                </td>
            </tr>
        <?php endif; ?>
        <tr>
            <td><?php echo $this->translate('customer_ref_number'); ?></td>
            <td>
                <?php echo $workorder->customerReferenceNo; ?>
            </td>
        </tr>
    </tbody>
</table>
