<?php
/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_OrderWorkshop $workorder
 * @var Zend_Form_SubForm $detailsSubForm
 * @var BAS_Shared_Model_Workshop_OrderWorkshopDetailInfo[] $workorderDetailsInfo
 */
$workorder = $this->workorder;
$workorderDetailsInfo = $this->workorderDetailsInfo;
$detailsSubForm = $this->detailsSubForm;
$isWorkorderReadonly = $this->isWorkorderReadonly;
$isBookingCodeMissed = $this->isBookingCodeMissed;
$warehouseDepotIds = $this->warehouseDepotIds;
$workorderDepotId = $this->workorderDepotId;

$priceFilter = new Zend_Filter_NormalizedToLocalized([
    'locale' => 'nl_NL',
    'precision' => 2,
]);
?>

<?php if ($workorder->getDefaultDepotBookingCodeId() === null): ?>
    <div class="error"><?php echo $this->translate('msg_workorder_fill_in_default_booking_code'); ?></div>
<?php endif; ?>

<div class="details-search js-data-container" 
     data-warehouse_depot_ids="<?php echo json_encode($warehouseDepotIds); ?>"
     data-workorder_depot_id="<?php echo $workorderDepotId; ?>"
     data-warehouse_id="<?php echo $workorder->getWarehouseId(); ?>"
>
    <div>
        <label class="width120 displayInlineBlock">
            <input type="radio"
                   name="work-search-type"
                   class="js-work-search-type"
                   value="<?php echo BAS_Shared_Model_Workshop_OrderWorkshopDetail::TYPE_TASK; ?>"
            >
            <?php echo $this->translate('Task'); ?>
        </label>

        <label class="width120 displayInlineBlock">
            <input type="radio"
                   name="work-search-type"
                   class="js-work-search-type"
                   value="<?php echo BAS_Shared_Model_Workshop_OrderWorkshopDetail::TYPE_ITEM; ?>"
            >
            <?php echo $this->translate('Item'); ?>
        </label>

        <label class="width120 displayInlineBlock">
            <input type="radio"
                   name="work-search-type"
                   class="js-work-search-type"
                   value="*"
                   checked
            >
            <?php echo $this->translate('Both'); ?>
        </label>
    </div>

    <div class="paddingLeft5">
        <span><?php echo $this->translate('Quantity'); ?></span>

        <input type="text"
               class="width50 js-work-search-quantity"
               value="1"
        >

        <input type="text"
               class="width355 js-work-search-input"
               placeholder="<?php echo $this->translate('placeholder_enter_id_as400_name_or_description'); ?>"
            <?php if ($isWorkorderReadonly || $workorder->getDefaultDepotBookingCodeId() === null) echo 'disabled'; ?>
        >

        <button type="button"
                class="js-work-add-button"
            <?php if ($isWorkorderReadonly || $workorder->getDefaultDepotBookingCodeId() === null) echo 'disabled'; ?>
        >
            <?php echo $this->translate('add_task_item'); ?>
        </button>

        <button type="button"
                class="js-work-extended-search-button"
            <?php if ($isWorkorderReadonly || $workorder->getDefaultDepotBookingCodeId() === null) echo 'disabled'; ?>
        >
            <?php echo $this->translate('extended_search'); ?>
        </button>
    </div>
</div>

<div class="workorder-details">
    <div class="error js-validation-errors"></div>

    <span class="expand-button expand-button_expand disable-select js-expand-all-details">
        <?php echo $this->translate('expand_all'); ?>
    </span>

    <form method="post" action="<?php echo $this->url([
        'action' => 'save-workorder-details',
        'controller' => 'workorder-details-tab',
        'module' => 'workshop',
    ]); ?>">

        <table class="default-table width-full workorder-details-table js-work-grid">
            <thead>
            <tr>
                <th width="15"></th>
                <th width="25"><?php echo $this->translate('sq'); ?></th>
                <th width="40"><?php echo $this->translate('image'); ?></th>
                <th width="50"><?php echo $this->translate('work_type'); ?></th>
                <th width="120"><?php echo $this->translate('As400Id'); ?></th>
                <th width="210"><?php echo $this->translate('label_description'); ?></th>
                <th width="240"><?php echo $this->translate('invoice_description'); ?></th>
                <th width="50"><?php echo $this->translate('in_stock'); ?></th>
                <th width="50"><?php echo $this->translate('quantity'); ?></th>
                <th width="70"><?php echo $this->translate('price'); ?></th>
                <th width="60"><?php echo $this->translate('discount'); ?></th>
                <th width="80"><?php echo $this->translate('bk_type'); ?></th>
                <th width="100"><?php echo $this->translate('bk_name'); ?></th>
                <th width="30"><?php echo $this->translate('acc_grp'); ?></th>
                <th width="50"><?php echo $this->translate('on_invoice'); ?></th>
                <th width="150"><?php echo $this->translate('rate'); ?></th>
                <th width="100">
                    <?php echo $this->translate('hours'); ?><br>
                    <?php echo $this->translate('invoice_spent'); ?>
                </th>
                <th width="50"></th>
                <th width="70"><?php echo $this->translate('cost_price'); ?></th>
                <th width="200"><?php echo $this->translate('supplier'); ?></th>
                <th width="20"></th>
            </tr>
            </thead>

            <tbody>
            <?php foreach ($workorderDetailsInfo as $key => $workorderDetailInfo): ?>
                <?php echo $this->partial('workorder-details-tab/get-workorder-detail.phtml', [
                    'workorderDetailInfo' => $workorderDetailInfo,
                    'detailsSubForm' => $detailsSubForm,
                    'isWorkorderReadonly' => $isWorkorderReadonly,
                ]); ?>
            <?php endforeach; ?>
            </tbody>
        </table>
        <table class="default-table width-full workorder-details-table js-work-grid table-footer">
            <tr class="footer-row">
                <td colspan="16"></td>
                <td width="100" class="nowrap">
                    <div class="invoice-total-time">
                        <?php echo $priceFilter->filter($this->workorderInvoicedTimeTotal); ?>
                    </div>
                </td>
                <td width="50">
                    <div class="js-total-spent-time invoice-total-time">
                        <?php echo $priceFilter->filter($this->workorderSpentTimeTotal); ?>
                    </div>
                </td>
                <td width="70"></td>
                <td width="200"></td>
                <td class="verticalAlignTop" width="20"></td>
            </tr>
        </table>

        <button type="submit" class="width100 marginTop5 js-button-save" <?php if ($isWorkorderReadonly) echo 'disabled'; ?>>
            <?php echo $this->translate('save'); ?>
        </button>

    </form>
</div>