<?php
/**
 * @var BAS_Shared_View_View $this
 */

/** @var Workshop_Form_OrderWorkshopTimeEdit $form */
$mainForm = $this->form;
$form = $mainForm->getFirstSubform();

/** @var BAS_Shared_Model_Workshop_OrderWorkshopTime $workorderTimeRecord */
$workorderTimeRecord = $this->workorderTimeRecord;
?>
<div class="edit-timetrack">
    <div class="error-container"></div>
    <form action="<?php echo $this->url([
        'module'     => 'workshop',
        'controller' => 'workorder-details-tab',
        'action'     => 'edit-workorder-time',
        'id'         => $workorderTimeRecord->getId(),
        'format'         => 'json',
    ], null, true); ?>" method="post" id="edit-timetrack-form">
        <table class="default-table width-full edit-timetrack-table js-work-grid">
            <thead>
            <tr>
                <th width="20"></th>
                <th width="100"><?php echo ucfirst($this->translate('employee_number')) ?></th>
                <th width=""><?php echo ucfirst($this->translate('name')) ?></th>
                <th width="100"><?php echo ucfirst($this->translate('date')) ?></th>
                <th width="50"><?php echo ucfirst($this->translate('spent_time')) ?></th>
                <th width="50"><?php echo ucfirst($this->translate('workorder_id')) ?></th>
                <th width="50"><?php echo ucfirst($this->translate('activity')) ?></th>
            </tr>
            </thead>

            <tbody>
            <tr class="js-timetrack-row">
                <td><a href="<?php echo $this->url([
                        'module'     => 'workshop',
                        'controller' => 'workorder-details-tab',
                        'action'     => 'delete-workorder-time',
                        'id'         => $workorderTimeRecord->getId(),
                        'format'         => 'json',
                    ], null, true); ?>"
                       title="<?php echo ucfirst($this->translate('archive')); ?>"

                       data-confirm-title="<?php echo ucfirst($this->translate('confirm')); ?>"
                       data-confirm-text="<?php echo ucfirst($this->translate('msg_confirm_archive_transaction')); ?>"
                       data-confirm-name=""
                       data-confirm-button-yes="<?php echo ucfirst($this->translate('yes')); ?>"
                       data-confirm-button-no="<?php echo ucfirst($this->translate('cancel')); ?>"
                       class="js-delete"><img src="/vbd/public/images/delete.png"></a></td>
                <td><?php echo $workorderTimeRecord->getPersonEmployeeNumber() ?></td>
                <td><?php echo $workorderTimeRecord->getPersonName() ?></td>
                <td><?php echo $this->formatDate($workorderTimeRecord->getDate()) ?></td>
                <td><?php echo $form->getElement('spentTime') ?></td>
                <td><?php echo $form->getElement('orderWorkshopId') ?></td>
                <td><?php echo $form->getElement('labourActivityId') ?></td>
            </tr>
            </tbody>
        </table>
    </form>
    <div class="button-row">
        <a href="#" id="js-add-timetrack-record"><img class="verticalAlignMiddle" src="/vbd/public/images/add.png"><?php echo ucfirst($this->translate('add_row')); ?></a>
    </div>
</div>