<?php
/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_Workshop_OrderWorkshopDetailInfo $mainDetailInfo
 * @var Zend_Form_SubForm $detailsForm
 */

$mainDetailInfo = $this->workorderDetailInfo;
$composedSubDetailsInfo = $mainDetailInfo->isTask() ? $mainDetailInfo->getSubDetailsInfoSorted() : [];
$detailsForm = $this->detailsSubForm;
$mainDetailForm = $detailsForm->getSubForm($mainDetailInfo->getId());
$isWorkorderReadonly = $this->isWorkorderReadonly;

if ($mainDetailInfo->isComposedSubDetail()) {
    return;
}
?>

<tr class="js-detail">
    <td class="verticalAlignTop">
        <?php if ($composedSubDetailsInfo !== []): ?>
            <span class="expand-button expand-button_close js-expand-sub-details"></span>
        <?php endif; ?>
    </td>

    <td class="verticalAlignTop">
        <img src="/themes/bas/icons/fatcow/16x16/arrow_switch.png" class="cursorPointer js-move-detail">
    </td>

    <td colspan="19" class="no-padding">
        <table>
            <tr class="js-main-detail <?php if ($composedSubDetailsInfo !== []) echo 'main-composed-task'; ?>"
                id="detail-<?php echo $mainDetailInfo->getId(); ?>">
                <?php echo $this->partial('workorder-details-tab/partial/detail-grid-cells.phtml', [
                    'detailInfo' => $mainDetailInfo,
                    'detailForm' => $mainDetailForm,
                    'isWorkorderReadonly' => $isWorkorderReadonly,
                ]); ?>
            </tr>

            <?php foreach ($composedSubDetailsInfo as $composedSubDetailInfo): ?>
                <?php $subDetailForm = $detailsForm->getSubForm($composedSubDetailInfo->getId()); ?>

                <tr class="js-sub-detail" id="detail-<?php echo $composedSubDetailInfo->getId(); ?>">
                    <?php echo $this->partial('workorder-details-tab/partial/detail-grid-cells.phtml', [
                        'detailInfo' => $composedSubDetailInfo,
                        'detailForm' => $subDetailForm,
                        'isWorkorderReadonly' => $isWorkorderReadonly,
                    ]); ?>
                </tr>
            <?php endforeach; ?>
        </table>
    </td>
</tr>
