<?php

/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_OrderWorkshop $workorder
 */

$workorder = $this->workorder;
?>

<div class="js-errors-container error"></div>

<div class="flex-box flex-box_row width-full">

    <fieldset class="flex-grow-1 js-order-details">
        <legend><?php echo $this->translate('order_info'); ?></legend>
        <div id="workorder-info">
            <?php echo $this->action('order-details', 'workorder-details-tab', 'workshop', [
                'workorderId' => $workorder->getWorkorderId(),
            ]); ?>
        </div>
    </fieldset>

    <fieldset class="flex-grow-1 js-customer-information">
        <legend><?php echo $this->translate('tab_overview_my_account_label'); ?></legend>
        <?php echo $this->action('customer-information', 'workorder-details-tab', 'workshop', [
            'workorderId' => $workorder->getWorkorderId(),
        ]); ?>
    </fieldset>

    <fieldset class="flex-grow-1 js-vehicle-information">
        <legend><?php echo $this->translate('vehicle_information'); ?></legend>
        <?php echo $this->action('vehicle-information', 'workorder-details-tab', 'workshop', [
            'workorderId' => $workorder->getWorkorderId(),
        ]); ?>
    </fieldset>

</div>

<div class="flex-box flex-box_row width-full">
    <fieldset class="flex-grow-1 medium-fieldset comments-widget">
        <legend><?php echo $this->translate('remarks'); ?></legend>
        <div id="workorder-comments" data-title="<?php echo ucfirst($this->translate('remarks')); ?>"></div>
    </fieldset>

    <fieldset class="flex-grow-1 medium-fieldset documents-widget">
        <legend><?php echo $this->translate('documents'); ?></legend>
        <div id="workorder-documents" data-title="<?php echo ucfirst($this->translate('documents')); ?>"></div>
    </fieldset>
</div>

<div class="flex-box flex-box_row width-full">
    <fieldset class="flex-grow-1">
        <legend><?php echo $this->translate('details'); ?></legend>
        <div id="workorder-details">
            <?php echo $this->action('details', 'workorder-details-tab', 'workshop', [
                'workorderId' => $workorder->getWorkorderId(),
                'nojs' => true,
            ]); ?>
        </div>
    </fieldset>
</div>

<div class="flex-box flex-box_row width-full">
    <fieldset class="flex-grow-1">
        <legend><?php echo $this->translate('time_track_label'); ?></legend>
        <div id="workorder-timetrack" data-depot_id="<?php echo $workorder->getDepotId(); ?>" data-grid-url="<?php echo $this->url([
            'module'=>'workshop',
            'controller'=>'workorder-details-tab',
            'action'=>'time-track-grid',
            'workorderId'=> $workorder->getWorkorderId(),
        ],null, true ); ?>">
            <?php echo $this->action('time-track-grid', 'workorder-details-tab', 'workshop', [
                'workorderId' => $workorder->getWorkorderId(),
                'nojs' => true,
            ]); ?>
        </div>
    </fieldset>

    <fieldset class="flex-grow-1">
        <legend><?php echo $this->translate('totals'); ?></legend>
        <div id="workorder-totals">
            <?php echo $this->action('totals', 'workorder-details-tab', 'workshop', [
                'workorderId' => $workorder->getWorkorderId(),
                'nojs' => true,
            ]); ?>
        </div>
    </fieldset>
</div>

<div class="position-relative js-buttons-container">
    <?php echo $this->action('buttons', 'workorder-details-tab', 'workshop', [
        'workorderId' => $workorder->getWorkorderId(),
    ]); ?>
</div>


<div class="js-service-offer-dialog" title="<?php echo $this->translate('generate_offer');?>"></div>
<div class="js-proforma-invoice-dialog" title="<?php echo $this->translate('generate_proforma_invoice');?>"></div>
<div class="js-workorder-invoice-dialog" title="<?php echo $this->translate('generate_invoice');?>"></div>
<div class="js-close-workorder-dialog" title="<?php echo $this->translate('close_workorder');?>"></div>