<?php

/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_OrderWorkshop $workorder
 * @var float $threshold
 * @var array $orderDetails
 * @var BAS_Shared_Model_StockDefects[] workorderDefects
 */

$workorder = $this->workorder;
$threshold = $this->threshold;
$workorderInvoicedTime = (float)$this->workorderInvoicedTime;
$workorderSpentTime = (float)$this->workorderSpentTime;
$workorderDefects = $this->workorderDefects;

if ($workorder === null) {
    return;
}

$dateCreatedAt = DateTime::createFromFormat('Y-m-d H:i:s', $workorder->getCreatedAt());
$dateCreatedAt = $dateCreatedAt === false ? '' : $dateCreatedAt->format('d-m-Y H:i');

$dateUpdatedAt = DateTime::createFromFormat('Y-m-d H:i:s', $workorder->getUpdatedAt());
$dateUpdatedAt = $dateUpdatedAt === false ? '' : $dateUpdatedAt->format('d-m-Y H:i');

$source = array_key_exists($workorder->getType(), BAS_Shared_Model_OrderWorkshop::$typeLabel)
    ? BAS_Shared_Model_OrderWorkshop::$typeLabel[$workorder->getType()]
    : 'unknown_source';
?>

<table class="width-full">
    <tbody>
    <tr>
        <td><?php echo $this->translate('order'); ?></td>
        <td><?php echo $workorder->getWorkorderId(); ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('depot_workshop'); ?></td>
        <td><?php echo $this->depotName($workorder->getDepotId());
            if ($workorder->getWorkshopId()) {
                echo ' / ' .$this->depotName($workorder->getWorkshopId());
            } ?>
        </td>
    </tr>
    <tr>
        <td><?php echo $this->translate('receptionist'); ?></td>
        <td><?php echo $this->personName($workorder->getUserId()); ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('source'); ?></td>
        <td>
            <?php echo $this->translate($source); ?>
            <?php if (
                (
                    $workorder->getType() === BAS_Shared_Model_OrderWorkshop::TYPE_DEFECT ||
                    $workorder->getType() === BAS_Shared_Model_OrderWorkshop::TYPE_SALES_PREPARATION
                ) && $workorderDefects !== []
            ): ?>

                <!-- links to defects -->
                (<?php foreach ($workorderDefects as $workorderDefect): ?>
                    <a target="_blank" href="<?php echo $this->url([
                        'module' => 'defect',
                        'controller' => 'card',
                        'action' => 'index',
                        'vehicle' => $workorder->getVehicleId(),
                    ], null, true); ?>#<?php echo $workorderDefect->getId(); ?>">
                        <?php echo $workorderDefect->getId(); ?>
                    </a>
                <?php endforeach; ?>)

            <?php endif; ?>

            <?php if ($workorder->getType() === BAS_Shared_Model_OrderWorkshop::TYPE_SALES_PREPARATION): ?>
            <?php $allowedChangePreparationStatus = $this->isAllowed('workshop.workorder.change-sales-preparation-status'); ?>
            <span class="<?php echo $allowedChangePreparationStatus ? 'js-sales-preparation-status' : '' ?>">
                <img class="verticalAlignMiddle
            <?php echo $allowedChangePreparationStatus ? 'cursorPointer' : ''; ?>"
                     src="<?php echo $this->getSalesPreparationStatusImageUrl($workorder->getSalesPreparationStatus()); ?>">
            </span>
            <span class="color-red floatRight"><?php echo $this->translate('threshold') . ': ' . $threshold; ?></span>
            <?php endif; ?>

        </td>
    </tr>
    <tr>
        <td><?php echo $this->translate('created'); ?></td>
        <td><?php echo $dateCreatedAt; ?>
            <?php echo ' (' . $this->translate('label_by') . ': ' . $this->userAbbreviation($workorder->getCreatedBy()) . ')'; ?>
        </td>
    </tr>
    <tr>
        <td><?php echo $this->translate('modified'); ?></td>
        <td>
            <?php echo $dateUpdatedAt; ?>
            <?php if ($workorder->getUpdatedBy() > 0) echo ' (' . $this->translate('label_by') . ': ' . $this->userAbbreviation($workorder->getUpdatedBy()). ')'; ?>
    </tr>
    <tr>
        <td><?php echo $this->translate('status'); ?></td>
        <td><?php
            $status = 'unknown_status';
            if (isset(BAS_Shared_Model_OrderWorkshop::$statusLabel[$workorder->getStatus()])) {
                $status = BAS_Shared_Model_OrderWorkshop::$statusLabel[$workorder->getStatus()];
            }
            echo $this->translate($status);
            ?></td>
    </tr>
    <tr>
        <td><b><?php echo $this->translate('hours_invoiced_and_spent'); ?></b></td>
        <td class="color-red"><b><?php echo sprintf('%.2f', $workorderInvoicedTime); ?> / <?php echo sprintf('%.2f', $workorderSpentTime); ?></b></td>
    </tr>
    </tbody>
</table>
