<?php

/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_OrderWorkshop $workorder
 * @var string $moduleLabels
 * @var array $availableStatuses
 */

$workorder = $this->workorder;
$moduleLabels = $this->moduleLabels;
$availableStatuses = $this->availableStatuses;

if ($workorder === null) {
    return;
}

$salesPreparationStatus = $workorder->salesPreparationStatus
    ? (int) $workorder->salesPreparationStatus
    : BAS_Shared_Model_OrderWorkshop::SALES_PREPARATION_STATUS_HOLD;
?>

<form action="" class="js-change-sales_preparation_status">

    <?php foreach ($availableStatuses as $status): ?>
    <div class="js-sales_preparation_status-container marginTop5">
        <label>
            <input
                type="radio"
                name="sales_preparation_status"
                value="<?php echo $status; ?>"
                <?php echo $salesPreparationStatus === (int) $status ? 'checked' : ''; ?>
            />
            <?php echo '<img src="' . $this->getSalesPreparationStatusImageUrl($status) . '">'; ?>
            <?php echo $this->translate(BAS_Shared_Model_OrderWorkshop::$salesPreparationStatusLabels[$moduleLabels][$status]); ?>
        </label>
    </div>
    <?php endforeach; ?>

</form>