<?php if ($this->isAllowed('workshop.workorder-details-tab.time-track-grid')): ?>
<div id="time-track-grid">
    <div class="time-track-grid-wrap">
        <?php echo $this->grid; ?>
    </div>
    <?php echo $this->partial('workorder-details-tab/partial/time-track-grid-footer.phtml',
            ['totalSpentTime' => $this->totalSpentTime]); ?>
</div>

<?php endif; ?>