<?php

/**
 * @var BAS_Shared_View_View $this
 *
 * @var BAS_Shared_Model_OrderWorkshop $workorder
 * @var array $grossAmount
 * @var array $netAmount
 * @var array $finalTotals
 *
 * @var int $totalExclVat
 * @var int $totalInclVat
 */

$workorder = $this->workorder;
$grossAmount = $this->grossAmount;
$netAmount = $this->netAmount;
$vatAmount = $this->vatAmount;
$totalExclVat = $this->totalExclVat;
$totalInclVat = $this->totalInclVat;
$finalTotals = $this->finalTotals;

$priceFilter = new Zend_Filter_NormalizedToLocalized([
    'locale' => 'nl_NL',
    'precision' => 2,
]);

?>

<div class="js-totals-full_info">

<?php echo $this->partial('workorder-details-tab/partial/totals-full-info.phtml', $this->getVars()); ?>
<?php echo $this->partial('workorder-details-tab/partial/totals-full-info-total.phtml', $this->getVars()); ?>

</div>

<div class="js-totals-short_info hide">

<table class="short-info-left">
    <tr>
        <td></td>
        <td><?php echo $this->translate('internal'); ?></td>
        <td><?php echo $this->translate('guarantee'); ?></td>
        <td><?php echo $this->translate('external'); ?></td>
    </tr>

    <tr>
        <td><?php echo $this->translate('net_amount'); ?></td>
        <td><?php echo $priceFilter->filter($netAmount['internal']); ?></td>
        <td><?php echo $priceFilter->filter($netAmount['guarantee']); ?></td>
        <td><?php echo $priceFilter->filter($netAmount['external']); ?></td>
    </tr>
</table>

<table class="short-info-right bold">
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><?php echo $this->translate('total_to_pay'); ?></td>
        <td><?php echo $priceFilter->filter($totalInclVat); ?></td>
    </tr>
</table>

</div>