<?php

/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_OrderWorkshop $workorder
 */
$workorder = $this->workorder;
$isFleetVehicle = $workorder->getVehicleSource() === BAS_Shared_Model_OrderWorkshop::VEHICLE_SOURCE_FLEET;
$isStockVehicle = $workorder->getVehicleSource() === BAS_Shared_Model_OrderWorkshop::VEHICLE_SOURCE_STOCK;
$isOrderVehicle = $workorder->getVehicleSource() === BAS_Shared_Model_OrderWorkshop::VEHICLE_SOURCE_ORDER_VEHICLE;
?>
<table class="width-full">
    <tbody>
    <tr>
        <td><?php echo $this->translate('make'); ?></td>
        <td><?php echo $this->make; ?></td>
        <?php if ($workorder->getVehicleId()): ?>
            <td rowspan="7" colspan="2">
                <img width="100" src="<?php echo $this->vehicleImage($workorder->getVehicleId()); ?>" />
            </td>
        <?php endif; ?>
    </tr>
    <tr>
        <td><?php echo $this->translate('type'); ?></td>
        <td><?php echo $this->type; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('configuration'); ?></td>
        <td><?php echo $this->configuration; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('chassis_number'); ?></td>
        <td><?php echo $this->frameNumber; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('licence_plate'); ?></td>
        <td><?php echo $this->licencePlate; ?></td>
    </tr>

    <?php if ($isStockVehicle || $isOrderVehicle): ?>
        <tr>
            <td><?php echo $this->translate('TR'); ?></td>
            <td>
                <a href="<?php echo $this->url([
                    'module'=>'stock',
                    'controller'=>'vehicle',
                    'action'=>'detail',
                    'vehicleid'=>$this->vehicleId,
                ],null, true ); ?>"
                   target="_blank"
                ><?php echo $this->truckId; ?></a>

                <?php echo $this->vehicleMemo($workorder->getVehicleId()); ?>
            </td>
        </tr>
    <?php endif; ?>

    <?php if ($isFleetVehicle): ?>
        <tr>
            <td><?php echo $this->translate('driver'); ?></td>
            <td><?php echo $this->driver; ?></td>
        </tr>
    <?php endif; ?>

    <?php if ($isStockVehicle): ?>
        <tr>
            <td><?php echo $this->translate('location'); ?></td>
            <td><?php echo $this->location; ?></td>
        </tr>
    <?php endif; ?>
    </tbody>
</table>