{% extends 'invoice/content.twig' %}
{% block payment_details_block %}{% if isInternalWorkorder %}{% include '_payment-details-no-vat.twig' %}{% else %}{% include '_payment-details-vat.twig' %}{% endif %}{% endblock %}
