<input type="checkbox" class="js-select-item" data-refueling_id="<?php echo $this->refuelingId; ?>" />

<span class="actions">
    <a class="noTextDecoration js-edit_button"
       data-refueling_id="<?php echo $this->refuelingId; ?>"
       href="<?php echo $this->editUrl; ?>"
       title="<?php echo ucfirst($this->translate('edit')); ?>">
        <img src="/vbd/public/images/edit.gif" />
    </a>
</span>