<?php
/**
 * @var BAS_Shared_View_View $this
 */
?>

<div class="table-footer">
    <div class="batch-actions">
        <a class="js-select-all" href="#"><?php echo $this->translate('select_all'); ?></a> |
        <a class="js-select-none" href="#"><?php echo $this->translate('select_none'); ?></a> |
        <span><?php echo $this->translate('selected'); ?>: <b class="js-selected-item-number">0</b></span>

        <button class="js-attach-workorder"><?php echo $this->translate('add_to_workorder'); ?></button>
    </div>
</div>
