<?php

/**
 * @var BAS_Shared_View_View $this
 * @var Lease_Library_Grid_Table $grid
 */

$grid = $this->{'grid'};

$this->headLink()
    ->appendStylesheet($this->baseUrl('css/warehouse/main.min.css?v=20170313'))
    ->appendStylesheet($this->baseUrl('css/workorder/main.css?v=20160317'))
    ->appendStylesheet($this->baseUrl('css/jquery-ui.bas.min.css'))
;

$this->headScript()
    ->appendFile($this->baseUrl() . '/js/datepicker.js?t=2')
;
?>

<h2><?php echo $this->translate('to_be_processed_refueling'); ?></h2>

<div class="js-error-container">

</div>

<div class="js-refueling-list-container refueling-list-container">
    <?php echo $grid; ?>
</div>

<div
    class="js-open-workorder-dialog"
    title="<?php echo $this->translate('open_workorders'); ?>">
</div>