<?php
/**
 * @var BAS_Shared_View_View $this
 * @var array $rowData
 */

$rowData = $this->rowData;
?>

<?php if((int)$rowData['purchase_comment_cnt'] > 0): ?>
    <span class="purchase-comment" id="purchase-comment-<?php echo (int)$rowData['purchase_id'] ?>" data-id="<?php echo (int)$rowData['purchase_id'] ?>" data-reference-id="<?php echo $rowData['TruckID']; ?>"><img class="commentMessageIcon imageWidthHeight16 zIndex0" src="/vbd/public/images/comment.png" title="<?php echo (int)$rowData['purchase_comment_cnt'] ?> comments"></span><span class="comment-cnt"><?php echo (int)$rowData['purchase_comment_cnt'] ?></span>
<?php else: ?>
    <a href="#" class="purchase-comment" id="purchase-comment-<?php echo (int)$rowData['purchase_id'] ?>" data-id="<?php echo (int)$rowData['purchase_id'] ?>" data-reference-id="<?php echo $rowData['TruckID']; ?>"><?php echo mb_strtolower($this->translate('add_comment')); ?></a>
<?php endif; ?>

