<?php
/**
 * @var BAS_Shared_View_View $this
 * @var array $rowData
 */

$rowData = $this->rowData;

$iconHtml = (new Workshop_Formatter_WorkshopStatus)->format($rowData['workshop_status']);
$iconHtml = strip_tags(str_replace('{{workorder_id}}', $rowData['workorder_id'], $iconHtml), '<img>');
?>

<div data-id="<?php echo $rowData['workorder_id']; ?>" data-purchase-id="<?php echo (int)$rowData['purchase_id'] ?>" class="middle"><?php echo $iconHtml ?></div>