<?php
/**
 * @var BAS_Shared_View_View $this
 * @var BAS_Shared_Model_OrderWorkshop $workorder
 * @var Zend_Form $form
 */
$params = $this->getVars();
$form = $params['form'];
$surcharges = $params['surcharges'];
$workorder = $params['workorder'];

$grossAmount = $this->grossAmount;
$netAmount = $this->netAmount;

$priceFilter = new Zend_Filter_NormalizedToLocalized([
    'locale' => 'nl_NL',
    'precision' => 2,
]);

$formDataParams = [
    'sum.consumable' => $surcharges['consumable'],
    'sum.environment' => $surcharges['environment'],

    'netAmount' => $netAmount,
];
?>

<form method="post" target="_blank" class="form-close-workorder workorder-edit"
      data-params='<?php echo json_encode($formDataParams);?>'>

    <?php echo $this->formHidden('workorderId', $workorder->workorderId); ?>

    <table class="surcharge-table">

        <tr class="surcharge-field js-surcharge-field" data-type="consumable">
            <td><?php echo $this->translate('calculate_surcharge_consumable'); ?> ?</td>
            <td><?php echo $form->getElement('radio_consumable'); ?></td>
            <td>
                <span class="js-surcharge-consumable surcharge-sum"
                      data-value="<?php echo $surcharges['consumable'];?>">
                    <?php echo $priceFilter->filter($surcharges['consumable']); ?>
                </span>
            </td>
        </tr>

        <tr class="surcharge-field js-surcharge-field" data-type="environment">
            <td><?php echo $this->translate('calculate_surcharge_environment'); ?> ?</td>
            <td><?php echo $form->getElement('radio_environment'); ?></td>
            <td>
                <span class="js-surcharge-environment surcharge-sum"
                      data-value="<?php echo $surcharges['environment'];?>">
                    <?php echo $priceFilter->filter($surcharges['environment']); ?>
                </span>
            </td>
        </tr>

    </table>

    <div id="workorder-totals">
    <table class="full-info-left">

        <thead>
        <tr>
            <td></td>
            <td><?php echo $this->translate('internal'); ?></td>
            <td><?php echo $this->translate('guarantee'); ?></td>
            <td><?php echo $this->translate('external'); ?></td>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><?php echo $this->translate('task'); ?></td>
            <td><?php echo $priceFilter->filter((float) $workorder->priceInternalTask); ?></td>
            <td><?php echo $priceFilter->filter((float) $workorder->priceGuaranteeTask); ?></td>
            <td><?php echo $priceFilter->filter((float) $workorder->priceExternalTask); ?></td>
        </tr>

        <tr>
            <td><?php echo $this->translate('item'); ?></td>
            <td><?php echo $priceFilter->filter((float) $workorder->priceInternalItem); ?></td>
            <td><?php echo $priceFilter->filter((float) $workorder->priceGuaranteeItem); ?></td>
            <td><?php echo $priceFilter->filter((float) $workorder->priceExternalItem); ?></td>
        </tr>

        <tr>
            <td><?php echo $this->translate('external_work'); ?></td>
            <td><span><?php echo $priceFilter->filter((float) $workorder->priceInternalWorkExternal); ?></span></td>
            <td><span><?php echo $priceFilter->filter((float) $workorder->priceGuaranteeWorkExternal); ?></span></td>
            <td><span><?php echo $priceFilter->filter((float) $workorder->priceExternalWorkExternal); ?></span></td>
        </tr>

        <tr>
            <td><?php echo $this->translate('gross_amount'); ?></td>
            <td><?php echo $priceFilter->filter($grossAmount['internal']); ?></td>
            <td><?php echo $priceFilter->filter($grossAmount['guarantee']); ?></td>
            <td><?php echo $priceFilter->filter($grossAmount['external']); ?></td>
        </tr>
        <tr><td class="table-row-indent"></td></tr>

        <tr>
            <td><?php echo $this->translate('discount'); ?></td>
            <td><span><?php echo $priceFilter->filter((float) $workorder->discountInternal); ?></span></td>
            <td><span><?php echo $priceFilter->filter((float) $workorder->discountGuarantee); ?></span></td>
            <td><span><?php echo $priceFilter->filter((float) $workorder->discountExternal); ?></span></td>
        </tr>

        <tr>
            <td><?php echo $this->translate('net_amount'); ?></td>
            <td><?php echo $priceFilter->filter($netAmount['internal']); ?></td>
            <td><?php echo $priceFilter->filter($netAmount['guarantee']); ?></td>
            <td><?php echo $priceFilter->filter($netAmount['external']); ?></td>
        </tr>
        <tr><td class="table-row-indent"></td></tr>

        <tr>
            <td><?php echo $this->translate('consumables'); ?></td>
            <td><?php echo $form->getElement('price_internal_consumables'); ?></td>
            <td><?php echo $form->getElement('price_guarantee_consumables'); ?></td>
            <td><?php echo $form->getElement('price_external_consumables'); ?></td>
        </tr>

        <tr>
            <td><?php echo $this->translate('environment'); ?></td>
            <td><?php echo $form->getElement('price_internal_environment'); ?></td>
            <td><?php echo $form->getElement('price_guarantee_environment'); ?></td>
            <td><?php echo $form->getElement('price_external_environment'); ?></td>
        </tr>
        <tr><td class="table-row-indent"></td></tr>

        </tbody>

    </table>
    </div>

    <div class="error-container"></div>

    <div class="js-control-buttons control-buttons">
        <button class="js-generate-offer" type="button"><?php echo $this->translate('close_workorder');?></button>
        <button class="js-cancel" type="button"><?php echo $this->translate('cancel');?></button>
    </div>

</form>