<?php
$this->headLink()->appendStylesheet('/vbd/public/css/grid.css');
$this->headLink()->appendStylesheet('/vbd/public/css/warehouse/main.min.css?v=20170313');
$this->headScript()->appendFile('/vbd/public/js/bvb_grid.js');
?>

<div class="width700">
    <h2><?php echo $this->translate('manage_surcharge'); ?></h2>

    <div>
        <?php echo $this->grid; ?>
    </div>
</div>
