<span class="actions">
    <a class="noTextDecoration"
       href="/vbd/public/workshop/labour-rate/edit/id/{{rate_id}}"
       title="<?php echo ucfirst($this->translate('edit')); ?>">
        <img src="/vbd/public/images/edit.gif" />
    </a>
</span>
