<div id="administration-info" class="width1076">
    <fieldset>
        <legend><?php echo $this->translate('received_payments'); ?></legend>
        <div class="bottomMargin20">
            <?php echo $this->partial('various-order-administration-tab/_order-detail.phtml', 'various-order', [
                'customerDetails' => $this->customerDetails,
                'invoiceDetail' => $this->invoiceDetail,
                'order' => $this->order,
                'orderType' => $this->orderType,
                'orderId' => $this->orderId,
            ]); ?>
        </div>
        <div class="bottomMargin20">
            <?php echo $this->partial('various-order-administration-tab/_payment-detail.phtml', 'various-order', [
                'payments' => $this->payments,
                'currencyList' => $this->currencyList,
                'orderId' => $this->orderId,
                'lockExist' => $this->lockExist,
                'paymentType' => $this->paymentType,
                'referenceType' => $this->referenceType
            ]); ?>
        </div>
        <div class="marginLeft80">
            <?php echo $this->partial('various-order-administration-tab/_show-price.phtml', 'various-order', [
                'totalPaidPrice' => $this->totalPaidPrice,
                'salesPrice' => $this->salesPrice,
                'currency' => $this->currency,
                'totalToPay' => $this->totalToPay
            ]); ?>
        </div>
    </fieldset>
</div>