<style>
    .items-table {
    }
    .bold { font-weight: bold; }
    .no-padding { padding: 0; }
    .default-font { font-size: 11pt; }
    .page-padding { padding: 0 60px; }
    .width-10per { width: 10%; }
    .width-11per { width: 11%; }
    .width-12per { width: 12%; }
    .width-20per { width: 20%; }
    .width-46per { width: 46%; }
    .width-40per { width: 40%; }
    .text-right { text-align: right; }

</style><table class="page-padding default-font">
    <tr>
        <td><table class="items-table no-padding">
    <thead>
    <tr class="bold">
        <th class="width-20per">{{ 'item_no'|translate }}</th>
        <th class="width-46per">{{ 'label_description'|translate }}</th>
        <th class="width-12per">{{ 'stock_on_location'|translate }}</th>
        <th class="width-12per">{{ 'no_to_be_picked'|translate }}</th>
        <th class="width-11per text-right">{{ 'picked_amount'|translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="5"></td>
    </tr>
    {% for orderItem in items %}
        <tr>
            <td class="width-20per">{{ orderItem.as400Id }}</td>
            <td class="width-46per">{{ orderItem.invoiceDescription }}</td>

            {% if (orderItem.unit == constant('BAS_Shared_Model_Item::UNIT_PRODUCT')) %}
                <td class="width-12per">{{ orderItem.locationStock|number_format(0) }}</td>
                <td class="width-12per">{{ orderItem.quantity|number_format(0) }}</td>
            {% else %}
                <td class="width-12per">{{ orderItem.locationStock|number_format(2, ',', '.') }}</td>
                <td class="width-12per">{{ orderItem.quantity|number_format(2, ',', '.') }}</td>
            {% endif %}

            <td class="width-11per text-right" style="border-bottom:1px solid #000000;"></td>
        </tr>
        <tr>
            <td class="width-20per"></td>
            <td class="width-46per">{{ orderItem.itemBrand }} | {{ orderItem.itemCategoryName }} | {{ orderItem.itemTypeLabel|translate }}</td>
            <td class="width-12per"></td>
            <td class="width-12per"></td>
            <td class="width-110per"></td>
        </tr>
    {% endfor %}
    </tbody>
            </table></td>
    </tr>
</table>