<?php
/** @var Workshop_Form_TradeInPrices $tradeInPricesForm */
$tradeInPricesForm = $this->tradeInPricesForm;
?>

<div class="error js-errors-container">
    <?php if (false === $this->tradeInPossible): ?>
        <span class="color-red"><b><?php echo $this->translate('trade_in_not_possible_for_no_stock_item'); ?></b></span>
    <?php endif;?>
</div>
<?php if (true === $this->tradeInPossible): ?>
<form>
    <table>
        <?php foreach ($tradeInPricesForm->getSubForms() as $priceForm): ?>
            <tr>
                <?php echo $priceForm->itemId; ?>
                <?php echo $priceForm->depotId; ?>
                <td><?php echo $priceForm->itemName; ?></td>
                <td><?php echo $priceForm->tradeInPrice; ?></td>
            </tr>
        <?php endforeach; ?>
    </table>
</form>
<?php endif;?>
<div class="dialog-buttonset-no-margin ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
    <div class="ui-dialog-buttonset">
        <?php if (true === $this->tradeInPossible): ?>
        <button type="button" class="js-button-save ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
            <span class="ui-button-text"><?php echo $this->translate('save'); ?></span>
        </button>
        <?php endif;?>
        <button type="button" class="js-button-cancel ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
            <span class="ui-button-text"><?php echo $this->translate('cancel'); ?></span>
        </button>
    </div>
</div>
