<?php
/** @var array $depotFilterOptions */
$depotFilterOptions = $this->depotFilterOptions;
$filterUrl = $this->baseUrl() . '/workshop/index/index/filterDepotId/';
?>
<div class="fl width100percent">
    <label class="colorBlack" for="depot-filter">Depot filter</label>
    <select id="depot-filter" >
        <option value="">-- all depots --</option>
        <?php foreach ($depotFilterOptions as $depotId => $depotName) { ?>
        <option value="<?php echo $depotId; ?>" data-filter-url="<?php echo $filterUrl . $depotId; ?>"><?php echo $depotName; ?></option>
        <?php } ?>
    </select>
</div>