<?php
/**
 * @var $deadlineDate array;
 */
$deadlineDate = $this->deadlineDate;
$workorderId = $deadlineDate['workorderId'];
$date = $deadlineDate['date'];
if($date){
    $dt = new DateTime($date);
    $date = date_format($dt,'d-m-Y');
}
?>
<div class="width-100">
    <input class="width-70 datepicker-input backgroundBorderNone js-deadline-datepicker textColorBody"
           disabled value="<?php echo $date; ?>"
           data-workorder-id="<?php echo $workorderId; ?>"
           data-deadline-date="<?php echo $deadlineDate['date']; ?>"
    >
</div>