<ul class="circles">
    <?php
    $dayCount = 1;
    $planningFunction = $this->period[$this->planningType];

    foreach ($this->balloonStatus as $data) :
        $startDate = $data['startDate'];
        $endDate = $data['endDate'];
        ?>
        <li>
            <label>
                <?php
                $title = '';
                $url = $this->baseUrl() . '/workshop/index/index/filterType/scheduledDeadline/filterDate/' . $startDate . '/submit/1';
                if (isset($data['title'])) {
                    $title = $data['title'];
                    $url = $this->baseUrl() . '/workshop/index/index/filterType/' . $title . 'Date/filterDate/' . $endDate . '/submit/1';
                }
                echo $this->$planningFunction($dayCount, $startDate, $title);
                ?>
            </label>
            <?php
            $balloonColor = 'circle1';
            if ($data['finished'] == $data['total']) {
                $balloonColor = 'circle2';
            }
            ?>
            <span class="wororderStatistics cursorPointer" data-url="<?php echo $url; ?>">
                <div id="circle<?php echo $dayCount; ?>" class="<?php echo $balloonColor; ?>">
                    <span class="bigtext" id="bigtext<?php echo $dayCount; ?>">
                        <?php echo $data['finished']; ?>
                    </span>
                    <span class="bigtext">/</span>
                    <span class="smalltext" id="smalltext<?php echo $dayCount; ?>">
                        <?php echo $data['total']; ?>
                    </span>
                </div>
            </span>
            <input type="hidden" id="dateShow<?php echo $dayCount; ?>" value="<?php echo $startDate; ?>" />
        </li>
        <?php
        $dayCount++;
    endforeach;
    ?>
</ul>
<span class='position-relative top55 left workshopPreparedText'>
    <?php echo $this->translate('PreparedTotalToBePrepared'); ?>
</span>