<a href='<?php echo $this->baseUrl(); ?>/order/overview?id=<?php echo $this->options['orderId'];?>' target='_blank'>
    <?php echo $this->options['orderId'];?>
</a>
<br><br>
<?php echo $this->portalVehicleIcon($this->options['contactTypeSupplierFeeContactId'], 'workshop.index'); ?>
<div>
    <strong>
        <span class='work-link spanToLink'
           id="workOrderLink_<?php echo $this->options['orderId']; ?>_<?php echo $this->options['vehicleId']; ?>"
           orderId="<?php echo $this->options['orderId']; ?>"
           vehicleId="<?php echo $this->options['vehicleId']; ?>"
           orderVehicleId="<?php echo $this->options['orderVehicleId']; ?>"
           truckId="<?php echo $this->options['truckId']; ?>">
            <?php echo $this->translate('work_orders')?>
        </span>
    </strong>
</div>