<div class="actions">
    <div class="truck-image">
        <a href="/vbd/public/default/vehicle/detail?truckId={{truckId}}">
            <img src="/vbd/public/photos/100/{{vehicleId}}_1.jpg?depot=<?php echo BAS_Shared_Auth_Service::getActiveDepotId(); ?>" border="0" height="75" width="100">
        </a>
    </div>
</div>