<div>
    <span class="clickable" title="<?php echo $this->translate('print') . ' ' . $this->translate('location'); ?>"
       onclick="javascript:popupWindow('/vbd/public/map/index/index?z={{location}}', 1035, 620);"
    >{{location}}
    </span>
</div>