<?php
$workorder = $this->workorder;
$defaultDebtorId = $this->defaultDebtorId;
$isCustomerApplicable = $this->isCustomerApplicable;
$isInternalWorkorder = $this->isInternalWorkorder;
$invoiceContactId = $this->invoiceContactId;
$invoiceContactName = $this->invoiceContactName;
$customerNumber = $this->customerNumber;
?>

<?php if($isInternalWorkorder && $workorder->getContactId() === null): ?>
    <tr>
        <td><?php echo ucfirst($this->translate('debtor_number')); ?> </td>
        <td>
            <?php echo $defaultDebtorId ?>
        </td>
    </tr>
<?php else: ?>
    <td><?php echo $this->translate('customer_number'); ?>: </td>
    <td>
        <?php if (empty($customerNumber)): ?>
            <div class="color-red">
                <span>None</span>
                <a href="<?php echo $this->contactCardUrl($invoiceContactId); ?>" target="_blank"><?php echo $invoiceContactName; ?></a>
            </div>
        <?php else: ?>
            <?php echo $customerNumber; ?>
        <?php endif; ?>
    </td>
<?php endif; ?>
