<div class="status-change-popup hidden">
    <div class="popup workshopPopup">
        <div class="popup__header"><?php echo $this->translate('workorder'); ?></div>
        <div class="popup__content">
            <div class="popup__message">
                <div><?php echo $this->translate('status'); ?> : <?php echo $this->formSelect('workorderStatus', '', '', [
                    '' => $this->translate('label_choose'),
                    BAS_Shared_Model_OrderWorkshop::WORKORDER_START => $this->translate('work_yet_to_start'),
                    BAS_Shared_Model_OrderWorkshop::WORKORDER_PRINTED => $this->translate('work_started'),
                    BAS_Shared_Model_OrderWorkshop::WORKORDER_CLOSED => $this->translate('work_completed')
                ]); ?></div>
            </div>
            <div class="popup__buttons">
                <?php echo $this->formButton('process', $this->translate('label_process')); 
                if ($this->isAllowed('workshop.workorder.resend-workorder')) {
                    echo $this->formButton('resendWorkorder', $this->translate('resend_workorder')); 
                }
                echo $this->formButton('cancel', $this->translate('cancel'), ['class' => 'closePopup']); ?>
            </div>
        </div>
    </div>
</div>