<?php
/**
 * @var BAS_Shared_View_View $this
 * @var array $surcharges
 */
$surcharges = $this->surcharges;

$params = $this->getVars();
$errors = array_key_exists('errors', $params) ? $params['errors'] : [];

$priceFilter = new Zend_Filter_NormalizedToLocalized([
    'locale' => 'nl_NL',
    'precision' => 2,
]);
?>

<div class="calc-surcharge-field js-surcharge-field">
    <?php echo $this->translate('calculate_surcharge_consumable'); ?> ?

    <input type="radio" class="js-no" name="consumable_surcharge" value="no" id="consumable_surcharge_yes">
    <label for="consumable_surcharge_yes"><?php echo $this->translate('no'); ?></label>

    <input type="radio" class="js-yes" name="consumable_surcharge" value="yes" id="consumable_surcharge_no" checked="checked">
    <label for="consumable_surcharge_no"><?php echo $this->translate('yes'); ?></label>

    <span class="js-surcharge-consumable <?php echo array_key_exists('consumable', $errors) ? 'error' : ''; ?>"
          data-value="<?php echo $surcharges['consumable'];?>">
        <?php echo $priceFilter->filter($surcharges['consumable']); ?>
    </span>
</div>

<div class="calc-surcharge-field js-surcharge-field">
    <?php echo $this->translate('calculate_surcharge_environment'); ?> ?

    <input type="radio" class="js-no" name="consumable_environment" value="no" id="consumable_env_yes">
    <label for="consumable_env_yes"><?php echo $this->translate('no'); ?></label>

    <input type="radio" class="js-yes" name="consumable_environment" value="yes" id="consumable_env_no" checked="checked">
    <label for="consumable_env_no"><?php echo $this->translate('yes'); ?></label>

    <span class="js-surcharge-environment <?php echo array_key_exists('environment', $errors) ? 'error' : ''; ?>" data-value="<?php echo $surcharges['environment'];?>">
        <?php echo $priceFilter->filter($surcharges['environment']); ?>
    </span>
</div>